{% extends 'base-temp.html' %}

{% block title %}Pickr | Student{% endblock %}

{% block link_style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/student.css') }}">
{% endblock %}

{% block content %}
    <section class="page_header">
        <h1 style="font-size: 60px">Hi,{{ name }}!</h1>
        <div class="_20px_height"></div>
        <a href="{{ url_for('base.logout') }}" class="small_link accent"><em>Logout↗</em></a>
        <a href="{{ url_for('base.change_password') }}" class="small_link accent" style="margin-left: 20px"><em>Change Password↗</em></a>
    </section>

    <div class="tab-container">
        <div class="tab-desc">
            <span >Complete the application form and check the status of your topic application.</span>
            <span class="active">Submit your weekly reports and receive feedback from your supervisor</span>
            <span>Schedule an appointment with your supervisor.</span>
            <span>Review the entire timeline of your graduation project</span>
        </div>
        <div class="tabs">
            <ul>
                <li >Topic Selection</li>
                <li class="active">Weekly Report</li>
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class="sub-panel ">
            {% include 'student/index-subpage/topic_selection.html' %}
        </div>
        <div class="sub-panel report-panel active">
            {% include 'student/index-subpage/report.html' %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        const tabs = document.querySelectorAll('.tabs li');
        const descList = document.querySelectorAll('.tab-desc span');
        const panels = document.querySelectorAll('.sub-panel');

        tabs.forEach((tab, index) => {
            tab.addEventListener('click', function() {
                    // Remove active class from all tabs
                    tabs.forEach(t => t.classList.remove('active'));
                    // Remove active class from all panels
                    panels.forEach(p => p.classList.remove('active'));
                    descList.forEach(d => d.classList.remove('active'));
                    // Add active class to the clicked tab
                    tab.classList.add('active');
                    // Add active class to the corresponding panel
                    panels[index].classList.add('active');
                    descList[index].classList.add('active');
                });
        });
    </script>


{% endblock %}


