{% extends 'base.html' %}

{% block title %}Pickr | Status{% endblock %}

{% block content %}
    <body>
    <section class="page_hearder"><h1 class="first_title">{{ student.english_name }}&#x27;s Status</h1>
        <p class="paragraph">In this page,you view application's status of {{ student.english_name }}</p></section>
    {% if selection %}
        <section>
            <div class="_20px_height"></div>
            <div class="_40px_height">
                <div class="third_title accent">Name</div>
                <div class="_20px_height"></div>
                <div class="fourth_title">{{ selection.english_name }} ({{ selection.chinese_name }})</div>
            </div>
            <div class="_30px_height">
                <div class="third_title accent">Class</div>
                <div class="_20px_height"></div>
                <div class="fourth_title">{{ selection.class_number }}</div>
            </div>
            <div class="_30px_height">
                <div class="third_title accent">Status</div>
                <div class="_20px_height"></div>
                <div class="fourth_title">
                    {% if selection.status == 0 %}
                        <div class="fourth_title">waiting for submit</div>
                    {% elif selection.status == 1 %}
                        <div class="fourth_title">waiting for process</div>
                    {% elif selection.status == 2 %}
                        <div class="fourth_title">Custom Topic - waiting for verify</div>
                    {% elif selection.status == 3 %}
                        <div class="fourth_title">Custom Topic - Success</div>
                    {% elif selection.status == 4 %}
                        <div class="fourth_title">Success</div>
                    {% elif selection.status == 5 %}
                        <div class="fourth_title">Fail</div>
                    {% endif %}
                </div>
            </div>
            {% if selection.if_custom == 1 %}
                <div class="_30px_height">
                    <div class="third_title accent">Custom Topic</div>
                    <div class="_20px_height"></div>
                    <div class="fourth_title">
                        {{ selection.first_topic_name }}
                    </div>
                </div>
                <div class="_30px_height">
                    <div class="third_title accent">Chosen Supervisor</div>
                    <div class="_20px_height"></div>
                    <div class="fourth_title">
                        {{ selection.custom_supervisor_name }}
                    </div>
                </div>
                <div class="_30px_height">
                    <div class="third_title accent">Type</div>
                    <div class="_20px_height"></div>
                    <div class="fourth_title">
                        {{ selection.custom_type_name }}
                    </div>
                </div>
                <div class="_30px_height">
                    <div class="third_title accent">Description</div>
                    <div class="_20px_height"></div>
                    <div class="fourth_title">
                        {{ selection.custom_description }}
                    </div>
                </div>
            {% else %}
                <div class="_30px_height">
                    <div class="third_title accent">Choose 1</div>
                    <div class="_20px_height"></div>
                    <div class="fourth_title">
                        {% if selection.first_topic_name %}
                            {{ selection.first_topic_name }}
                        {% else %}
                            ---
                        {% endif %}
                    </div>
                </div>
                <div class="_30px_height">
                    <div class="third_title accent">Choose 2</div>
                    <div class="_20px_height"></div>
                    <div class="fourth_title">
                        {% if selection.second_topic_name %}
                            {{ selection.second_topic_name }}
                        {% else %}
                            ---
                        {% endif %}
                    </div>
                </div>
                <div class="_30px_height">
                    <div class="third_title accent">Choose 3</div>
                    <div class="_20px_height"></div>
                    <div class="fourth_title">
                        {% if selection.third_topic_name %}
                            {{ selection.third_topic_name }}
                        {% else %}
                            ---
                        {% endif %}
                    </div>
                </div>
                <div class="_30px_height">
                    <div class="third_title accent">Final Topic</div>
                    <div class="_20px_height"></div>
                    <div class="fourth_title">
                        {% if selection.final_topic_name %}
                            {{ selection.final_topic_name }}
                        {% else %}
                            ---
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="_80px_height"></div>
        </section>
    {% else %}
        <div class="_40px_height"></div>
        <div class="_40px_height"></div>
        <div class="third_title accent">{{ student.english_name }} haven't create his/her application form</div>
        <div class="_40px_height"></div>
    {% endif %}
    </body>
{% endblock %}