{% extends 'base-temp.html' %}

{% block title %}Pickr | Change Password{% endblock %}

{% block content %}
    <style>
        body {
            padding-top: 10%;
            line-height: unset !important;
        }
        .w-layout-blockcontainer {
            min-height: 80vh
        }
        .footer {
            margin-top:0
        }
        @media (max-width: 479px) {
            body {
                padding-top: 90px;
            }
        }
    </style>

    <body>

    <div class="w-layout-blockcontainer container-4 w-container">
        <h1 class="second_title center accent">Change your password</h1>

        <div class="form-block w-form">
            <form id="login_form" class="form">
                <div class="_20px_height"></div>

                <label for="oldPwd" class="text-block login_text">Your old password</label>
                <input id="oldPwd" type="password" class="text-field w-input" name="oldPwd" required="required"/>
                <span class="span-alert" id="oldPwd-span"></span>

                <label for="password" class="text-block login_text">Your new password</label>
                <input id="password" type="password" class="text-field w-input" name="password" required="required"/>

                <label for="confirm" class="text-block login_text">Confirm new password</label>
                <input id="confirm" type="password" class="text-field w-input" name="confirm" required="required"/>
                <span class="span-alert" id="confirmNewPwd-span"></span>

                <div class="_40px_height"></div>
                <input type="submit" value="Update" data-wait="Please wait..." class="submit-button w-button"/>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            const oldPwdSpan = $("#oldPwd-span")
            const conNewPwdSpan =$("#confirmNewPwd-span")

            $("#login_form").on('submit', function (event) {
                event.preventDefault();
                oldPwdSpan.hide()
                conNewPwdSpan.hide()

                const oldPwd = $('input[name="oldPwd"]').val();
                const password = $('input[name="password"]').val();
                const confirm = $('input[name="confirm"]').val();

                if (password !== confirm) {
                    conNewPwdSpan.show()
                    conNewPwdSpan.text('Passwords do not match')
                    return;
                }

                function hashPassword(password) {
                    return window.crypto.subtle.digest('SHA-256', new TextEncoder().encode(password))
                        .then(hashBuffer => {
                            const hashArray = Array.from(new Uint8Array(hashBuffer));
                            const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
                            return hashHex;
                        })
                        .catch(error => {
                            console.error('Error hashing the password:', error);
                            throw error;
                        });
                }

                Promise.all([hashPassword(oldPwd), hashPassword(password)])
                    .then(([oldPwdHash, passwordHash]) => {
                        sendData({oldPwdHash, passwordHash});
                    })
                    .catch(error => {
                        console.error('Error hashing one or both passwords:', error);
                    });
            });

            function sendData(data) {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('base.change_password') }}",
                    data: {
                        old_password_hash: data.oldPwdHash,
                        new_password_hash: data.passwordHash
                    },
                    success: function (response) {
                        if (response.status === 'success') {
                            window.location.href = response.redirect;
                        } else {
                            oldPwdSpan.show()
                            oldPwdSpan.text(response.message)
                        }
                    },
                    error: function (xhr, status, error) {
                        customAlert('danger', error);
                    }
                });
            }
        });
    </script>
    </body>
{% endblock %}


