<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static',filename='image/icon.png') }}" type="image/png">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <script src="https://lib.baomitu.com/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base-demo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/media.css') }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/star.css') }}">
    <script src="{{ url_for('static', filename='js/star.js') }}"></script>
    <title>Pickr | Change Password</title>
</head>
<body class="body-2">
<canvas id='c'></canvas>
<div class="w-layout-blockcontainer container-4 w-container">
    <h1 class="second_title center accent">Change your password</h1>
    <div class="_20px_height"></div>

    <div class="form-block w-form">
        <form id="login_form" class="form">
            <div class="_20px_height"></div>

            {% if message %}
                <p id="login-message"><strong>{{ message }}</strong></p>
            {% endif %}

            <label for="oldPwd" class="text-block login_text">Your old password</label>
            <input id="oldPwd" type="password" class="text-field w-input" name="oldPwd" required="required"/>

            <label for="password" class="text-block login_text">Your new password</label>
            <input id="password" type="password" class="text-field w-input" name="password" required="required"/>

            <label for="confirm" class="text-block login_text">Confirm</label>
            <input id="confirm" type="password" class="text-field w-input" name="confirm" required="required"/>
            <div class="_40px_height"></div>
            <input type="submit" value="Update" data-wait="Please wait..." class="submit-button w-button"/>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#login_form").on('submit', function (event) {
            event.preventDefault();

            const oldPwd = $('input[name="oldPwd"]').val();
            const password = $('input[name="password"]').val();
            const confirm = $('input[name="confirm"]').val();

            if (password !== confirm) {
                alert('Passwords do not match');
                return;
            }

            function hashPassword(password) {
                return window.crypto.subtle.digest('SHA-256', new TextEncoder().encode(password))
                    .then(hashBuffer => {
                        const hashArray = Array.from(new Uint8Array(hashBuffer));
                        const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
                        return hashHex;
                    })
                    .catch(error => {
                        console.error('Error hashing the password:', error);
                        throw error;
                    });
            }

            Promise.all([hashPassword(oldPwd), hashPassword(password)])
                .then(([oldPwdHash, passwordHash]) => {
                    sendData({oldPwdHash, passwordHash});
                })
                .catch(error => {
                    console.error('Error hashing one or both passwords:', error);
                });
        });

        function sendData(data) {
            $.ajax({
                type: "POST",
                url: "{{ url_for('base.change_password') }}",
                data: {
                    old_password_hash: data.oldPwdHash,
                    new_password_hash: data.passwordHash
                },
                success: function (response) {
                    if (response.status === 'success') {
                        alert(response.message);
                        window.location.href = response.redirect;
                    } else {
                        alert('Failed: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('An error occurred: ' + error);
                }
            });
        }
    });
</script>
</body>
</html>