{% extends 'base-temp.html' %}

{% block title %}Pickr | ERROR{% endblock %}

{% block content %}
    <style>
        .heading-2 {
            color: var(--wite);
        }
        .heading-2.oops {
            padding-left: 20vw;
            padding-right: 20vw;
        }
        .biggest_title {
            color: #fff;
            overflow-wrap: break-word;
            margin-top: 64px;
            padding-top: 66px;
            padding-bottom: 83px;
            font-family: Dank Mono, sans-serif;
            font-size: 190px;
        }
        .biggest_title.accent {
            color: var(--accent);
            font-style: italic;
        }
        .container {
            padding-top: 0;
        }
    </style>
    <body>
    <canvas id='c'></canvas>
    <section class="section">
        <div class="w-layout-blockcontainer container center w-container"><h1 class="biggest_title">Oops!</h1>
            {% if message %}
                <h2 class="accent">{{ message }}</h2>
            {% else %}
                <h2 class="accent">Something was wrong</h2>
            {% endif %}
            <div class="w-layout-blockcontainer _20px_height w-container"></div>
            <h4 class="heading-2 oops">
                Please contact the system administrator. If you need further assistance, please be
                kindly contact Chengxin Zhao by E-mail.
            </h4>
        </div>
    </section>
    </body>
{% endblock %}


