{% extends 'base-temp.html' %}

{% block title %}Pickr | {{ topic.name }}{% endblock %}

{% block content %}
    <style>
        #w-node-topic-detail-02,
        #w-node-topic-detail-01 {
            grid-template-rows: auto;
            grid-template-columns: .25fr 1fr;
        }

{#        .topic_refer_link {
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
            white-space: nowrap;
            cursor: pointer;
        }#}

        @media (max-width: 700px) {
            #w-node-topic-detail-02,
            #w-node-topic-detail-01,
            .w-node-topic-detail-01 {
                display: block;
            }

            .w-node-topic-detail-01 > .w-layout-cell,
            #w-node-topic-detail-02 > .w-layout-cell,
            #w-node-topic-detail-01 > .w-layout-cell {
                margin-bottom: 5px;
            }
        }
    </style>
    <body>
    <section class="page_hearder"><h1 class="first_title">{{ topic.name }}</h1></section>
    <section>
        <h1 class="third_title accent">Basic info</h1>
        <div id="w-node-global-01"
             class=" course_list_item wf-layout-layout w-node-topic-detail-01">
            <div class="w-layout-cell">
                <div class="text-block"><em>◇</em> Tutor</div>
            </div>
            <div class="w-layout-cell">
                <div class="text-block italic-text">{{ topic.get_supervisor_name() }}</div>
            </div>
        </div>
        <div id="w-node-global-01"
             class=" course_list_item wf-layout-layout w-node-topic-detail-01">
            <div class="w-layout-cell">
                <div class="text-block"><em>◇</em> Type</div>
            </div>
            <div class="w-layout-cell">
                <div class="text-block italic-text">{{ topic.get_type_name() }}</div>
            </div>
        </div>
        <div id="w-node-topic-detail-02"
             class=" course_list_item wf-layout-layout">
            <div class="w-layout-cell">
                <div class="text-block"><em>◇</em> Position</div>
            </div>
            <div class="w-layout-cell" style="flex-direction: row;">
{#                TODO final selected num: topic.get_selected_num_final()#}
                <div class="text-block italic-text">{{ topic.quota  }}</div>
                <div class="text-block italic-text accent _0head">({{ topic.get_selected_num() }} other candidates)
                </div>
            </div>
        </div>
        <div id="w-node-topic-detail-01"
             class=" course_list_item wf-layout-layout">
            <div class="w-layout-cell cell">
                <div class="text-block"><em>◇</em> Topic ID</div>
            </div>
            <div class="w-layout-cell">
                <div class="text-block italic-text">PK{{ "%04d"|format(topic.id) }}</div>
            </div>
        </div>

        <div class="_20px_height"></div>
        <h1 class="third_title accent">Topic Describe</h1>
        <div class="text-block back_space">{{ topic.description }}</div>

        <div class="_20px_height"></div>
        <h1 class="third_title accent">Required Skills</h1>
        <div class="text-block back_space">{{ topic.required_skills }}</div>

        <div class="_20px_height"></div>
        <h1 class="third_title accent">Supervisor Expertise</h1>
        <div class="text-block back_space">{{ topic.supervisor.expertise }}</div>

        <div class="_20px_height"></div>
        <h1 class="third_title accent">References</h1>
        {# todo: text overflow, a href, multiple links #}
        <div class="text-block back_space">{{ topic.reference }}</div>

        <div class="_80px_header"></div>
        {% if session['user_type'] == 'student' %}
            <input type="text" value="PK{{ "%04d"|format(topic.id) }}" id="myText" style="position: absolute; left: -9999px;">
            <a href="{{ url_for('base.my_pickr') }}" class="link link_accent" onclick="copyTextAndRedirect()">Copy Topic ID & Apply<em>↗</em></a>
        {% endif %}
        <div class="_80px_header"></div>
    </section>
    <script>
        // Copy text and redirect
        function copyTextAndRedirect() {
            const copyText = document.getElementById("myText");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            window.location.href = "{{ url_for('base.my_pickr') }}";
        }
    </script>
    </body>
{% endblock %}