{% extends 'base-temp.html' %}
{% from 'macro/pickr_table.html' import pickr_table %}

{% block title %}Pickr | Manager{% endblock %}

{% block link_style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/manager.css') }}">
{% endblock %}

{% block content %}
    <body>
        <section class="page_hearder">
            <h1 class="first_title">Hi,{{ supervisor.first_name }} {{ supervisor.last_name }}! </h1>
            <a href="{{ url_for('manager.switch_to_supervisor_page') }}" class="pickr-btn" style="display: inline-block; margin: 20px 0">Go to Supervisor Page</a>
            <div class="_20px_height"></div>
            <a href="{{ url_for('base.logout') }}" class="small_link accent"><em id="logout">Logout↗</em></a>
            <a href="{{ url_for('base.change_password') }}" class="small_link accent" style="margin-left: 20px"><em>Change
                Password↗</em></a>
            <div class="_20px_height"></div>
        </section>
        <div data-current="System" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
            <address style="display: flex;overflow-x: auto">
                <a data-w-tab="System" class="tab_link w-inline-block w-tab-link"
                   onclick="sessionStorage.setItem('pre','system')">
                    System
                </a>
                <a data-w-tab="Students" class="tab_link w-inline-block w-tab-link"
                   onclick="sessionStorage.setItem('pre','student')">
                    Students
                </a>
                <a data-w-tab="Supervisor" class="tab_link w-inline-block w-tab-link"
                   onclick="sessionStorage.setItem('pre','supervisor')">
                    Supervisors
                </a>
                <a data-w-tab="SupTopics" class="tab_link w-inline-block w-tab-link"
                   onclick="sessionStorage.setItem('pre','supTopic')">
                    Supervisor Topics
                </a>
                <a data-w-tab="Topics" class="tab_link w-inline-block w-tab-link"
                   onclick="sessionStorage.setItem('pre','stuTopic')">
                    Student Topics
                </a>
                <a data-w-tab="Reports" class="tab_link w-inline-block w-tab-link"
                   onclick="sessionStorage.setItem('pre','reports')">
                    Weekly Reports
                </a>
            </address>

            <div class="w-tab-content">
                <div data-w-tab="System" class="w-tab-pane">
                    {% include 'manager/system/system.html' %}
                </div>
                <div data-w-tab="Students" class="w-tab-pane">
                    {{ pickr_table('Students', students, 'student','Student name, Class number') }}
                </div>
                <div data-w-tab="Supervisor" class="w-tab-pane">
                    {{ pickr_table('Supervisors', supervisors, 'supervisor','Supervisor name, ID', supervisor_id) }}
                </div>
                <div data-w-tab="SupTopics" class="w-tab-pane">
                    {{ pickr_table('Supervisor Topics', topics, 'supTopic', 'Topic title, Student name, Supervisor name') }}
                </div>
                <div data-w-tab="Topics" class="w-tab-pane">
                    {{ pickr_table('Student Topics', custom_selections, 'topic', 'Topic title, Student name, Supervisor name') }}
                </div>
                <div data-w-tab="Reports" class="w-tab-pane">
                    {% include 'manager/report/report.html' %}
                </div>
            </div>
        </div>
        <div class="_80px_height"></div>
    </body>
{% endblock %}

{% block script %}
    <script>
        // Tab switch
        $(document).ready(function () {
            const _pre = sessionStorage.getItem('pre') || ''
            {#var pre = '{{ pre }}'#}
            $('.tab_link').click(function (e) {
                e.preventDefault();
                var tabEntry = $(this).attr('data-w-tab');
                $('.tab_link').removeClass('w--current');
                $(this).addClass('w--current');
                $('.w-tab-pane').fadeOut(100);
                $('.w-tab-pane[data-w-tab="' + tabEntry + '"]').fadeIn(300)
            });
            if (_pre === 'student') {
                $('.tab_link[data-w-tab="Students"]').click();
            } else if (_pre === 'supervisor') {
                $('.tab_link[data-w-tab="Supervisor"]').click();
            } else if (_pre === 'stuTopic') {
                $('.tab_link[data-w-tab="Topics"]').click();
            } else if (_pre === 'supTopic') {
                $('.tab_link[data-w-tab="SupTopics"]').click();
            } else if (_pre === 'reports') {
                $('.tab_link[data-w-tab="Reports"]').click();
            }else {
                $('.tab_link').first().click();
            }
        })

        //table pagination
        function pagination(type) {
            const pageSize = 10;
            let currentPage = 1;
            const $table = $(`#table-${type}`)
            const tbody = document.querySelector(`#tbody-${type}`)
            if (tbody == null) return;
            let data = tbody.getElementsByTagName('tr');
            let originalData = data;
            let visibleData = data;
            let pageCount = updatePageCount();


            function updatePageCount() {
                return Math.ceil(visibleData.length / pageSize);
            }

            function updateButtons() {
                $(`#pre-page-${type}`).toggleClass('disabled', currentPage === 1);
                $(`#last-page-${type}`).toggleClass('disabled', currentPage === pageCount);
                $(`#page-number-${type}`).text(currentPage + ' / ' + pageCount);
            }

            // Used to show or hide the "No results found" message
            function toggleNoResultsMessage(show) {
                if (show) {
                    $table.hide()
                    $(`#no-results-message-${type}`).removeClass('hidden');
                } else {
                    $table.show()
                    $(`#no-results-message-${type}`).addClass('hidden');
                }
            }

            // Render the current page
            function renderPage() {
                Array.from(data).forEach((row, index) => {
                    row.style.display = 'none';
                })
                const start = (currentPage - 1) * pageSize
                const end = Math.min(start + pageSize, data.length);
                Array.from(visibleData).forEach((row, index) => {
                    row.style.display = (index >= start && index < end) ? '' : 'none';
                });
                updateButtons();
                toggleNoResultsMessage(visibleData.length === 0);
            }

            $(`#pre-page-${type}`).click(function () {
                if (currentPage > 1) {
                    currentPage--;
                    renderPage();
                }
            });

            $(`#last-page-${type}`).click(function () {
                if (currentPage < pageCount) {
                    currentPage++;
                    renderPage();
                }
            });

            $(`#search-input-${type}`).click(function (e) {
                e.preventDefault();
                const searchKey = $(`input[name="search-${type}"]`).val().toLowerCase();
                visibleData = Array.from(data).filter(function (value, index) {
                    const td = value.querySelector(`#td-1-${type}`).innerText.trim().toLowerCase()
                    const td2 = value.querySelector(`#td-2-${type}`).innerText.trim().toLowerCase()
                    const td3 = value.querySelector(`#td-3-${type}`).innerText.trim().toLowerCase()
                    if (type === 'student' || type === 'topic') {
                        return !searchKey || td.includes(searchKey) || td2.includes(searchKey) || td3.includes(searchKey);
                    } else if (type === 'supTopic') {
                        return !searchKey || td.includes(searchKey) || td2.includes(searchKey)
                    } else {
                        return !searchKey || td.includes(searchKey)
                    }
                })
                currentPage = 1;
                pageCount = updatePageCount();
                renderPage()
            });

            $(`#reset-input-${type}`).click(function (e) {
                e.preventDefault();
                $(`input[name="search-${type}"]`).val('')
                visibleData = originalData;
                currentPage = 1;
                pageCount = updatePageCount();
                renderPage()
            });

            renderPage();
        }

        $(document).ready(function () {
            pagination('student')
            pagination('supervisor')
            pagination('topic')
            pagination('supTopic')
        })
    </script>
{% endblock %}