{% extends 'base-temp.html' %}
{% from 'macro/pickr_table.html' import pickr_table %}

{% block title %}Pickr | Manager{% endblock %}

{% block link_style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/manager.css') }}">
{% endblock %}

{% block content %}
    <body>
    <section class="page_hearder">
        <h1 class="first_title">Hi,{{ supervisor.first_name }} {{ supervisor.last_name }}!</h1>
        <div class="_20px_height"></div>
        <a href="{{ url_for('base.logout') }}" class="small_link accent"><em>Logout↗</em></a>
        <a href="{{ url_for('base.change_password') }}" class="small_link accent" style="margin-left: 20px"><em>Change
            Password↗</em></a>
        <div class="_20px_height"></div>
    </section>
    <div data-current="System" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
        <address style="display: flex;overflow-x: auto">
            <a data-w-tab="System" class="tab_link w-inline-block w-tab-link w--current"
               onclick="sessionStorage.setItem('pre','system')">
                <div>System</div>
            </a>
            <a data-w-tab="Students" class="tab_link w-inline-block w-tab-link"
               onclick="sessionStorage.setItem('pre','student')">
                <div>Students</div>
            </a>
            <a data-w-tab="Supervisor" class="tab_link w-inline-block w-tab-link"
               onclick="sessionStorage.setItem('pre','supervisor')">
                <div>Supervisors</div>
            </a>
            <a data-w-tab="SupTopics" class="tab_link w-inline-block w-tab-link"
               onclick="sessionStorage.setItem('pre','supTopic')">
                <div>Supervisor Topics</div>
            </a>
            <a data-w-tab="Topics" class="tab_link w-inline-block w-tab-link"
               onclick="sessionStorage.setItem('pre','stuTopic')">
                <div>Student Topics</div>
            </a>
        </address>

        <div class="w-tab-content">
            <div data-w-tab="System" class="w-tab-pane">
                <div class="_40px_height"></div>
                <h2 class="third_title-2 accent">Apply Overview</h2>
                <div class="_20px_height"></div>
                <div id="w-node-global-01"
                     class="w-layout-layout course_list_item wf-layout-layout">
                    <div class="w-layout-cell">
                        <div class="text-block"><em>◇</em> Student number</div>
                    </div>
                    <div class="w-layout-cell">
                        <div class="text-block">{{ students|length }} ({{ num_success }} success)</div>
                    </div>
                </div>
                <div id="w-node-global-01"
                     class="w-layout-layout course_list_item wf-layout-layout">
                    <div class="w-layout-cell">
                        <div class="text-block"><em>◇</em> Waiting for submit</div>
                    </div>
                    <div class="w-layout-cell">
                        <div class="text-block">{{ num_waiting }}</div>
                    </div>
                </div>
                <div id="w-node-global-01"
                     class="w-layout-layout course_list_item wf-layout-layout">
                    <div class="w-layout-cell">
                        <div class="text-block"><em>◇</em> Waiting for system process</div>
                    </div>
                    <div class="w-layout-cell">
                        <div class="text-block">{{ num_process }}</div>
                    </div>
                </div>
                <div id="w-node-global-01"
                     class="w-layout-layout course_list_item wf-layout-layout">
                    <div class="w-layout-cell">
                        <div class="text-block"><em>◇</em> Waiting for verify</div>
                    </div>
                    <div class="w-layout-cell">
                        <div class="text-block">{{ num_verify }}</div>
                    </div>
                </div>
                <div id="w-node-global-01"
                     class="w-layout-layout course_list_item wf-layout-layout">
                    <div class="w-layout-cell">
                        <div class="text-block"><em>◇</em> Fail</div>
                    </div>
                    <div class="w-layout-cell">
                        <a href="#" id="fail_students" class="small_link accent">{{ num_fail }}<em
                                class="italic-text">↗</em></a>
                    </div>
                </div>
                <!-- Floating window -->
                <div id="modal" class="modal" style="display:none;">
                    <!-- Contents -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p id="student-data">Loading...</p>
                    </div>
                </div>
                <div class="_20px_height"></div>
                <a href="{{ url_for('manager.process') }}" class="submit-button-2 delete_button w-button">Process</a>
                <a href="{{ url_for('manager.refresh') }}" class="w-button submit-button">Refresh</a>
                <div class="_20px_height"></div>
                <h2 class="third_title-2 accent">Supervisor & Topic Overview</h2>
                <div class="_20px_height"></div>
                <div id="w-node-global-01"
                     class="w-layout-layout course_list_item wf-layout-layout">
                    <div class="w-layout-cell">
                        <div class="text-block"><em>◇</em> Supervisor number</div>
                    </div>
                    <div class="w-layout-cell">
                        <div class="text-block">{{ supervisors|length }}</div>
                    </div>
                </div>
                <div id="w-node-global-01"
                     class="w-layout-layout course_list_item wf-layout-layout">
                    <div class="w-layout-cell">
                        <div class="text-block"><em>◇</em> Supervisor's Topic number</div>
                    </div>
                    <div class="w-layout-cell">
                        <div class="text-block">{{ topic_num }}</div>
                    </div>
                </div>
                <div id="w-node-global-01"
                     class="w-layout-layout course_list_item wf-layout-layout">
                    <div class="w-layout-cell">
                        <div class="text-block"><em>◇</em> Supervisors Position</div>
                    </div>
                    <div class="w-layout-cell">
                        <div class="text-block">{{ static_topic_num }} / {{ total_quta }}</div>
                    </div>
                </div>
                <div id="w-node-global-01"
                     class="w-layout-layout course_list_item wf-layout-layout">
                    <div class="w-layout-cell">
                        <div class="text-block"><em>◇</em> Custom Topic number</div>
                    </div>
                    <div class="w-layout-cell">
                        <div class="text-block">{{ custom_topic_num }}</div>
                    </div>
                </div>
                <div class="_20px_height"></div>
                <h2 class="third_title-2 accent">Deadline Setting</h2>
                <div class="w-layout-blockcontainer inlimite_container w-container">
                    <div class="w-form">
                        <div class="text-block _10button_spac">Round 1</div>
                        <form id="deadline-form-1" class="student_submit_form">
                            <input type="text" class="deadline_field w-input" placeholder="submit time"
                                   id="round1-submit" required="required"/>
                            <input type="text" class="deadline_field w-input" placeholder="Result time"
                                   id="round1-result" required="required"/>
                            <input type="text" class="deadline_field w-input" placeholder="Title" id="round1-title"
                                   required="required"/>
                            <input id="round1-submit-button" type="submit" value="Save" data-wait="Please wait..."
                                   class="submit-button w-button"/>
                        </form>
                    </div>

                    <div class="w-form">
                        <div class="text-block _10button_spac">Round 2</div>
                        <form id="deadline-form-2" class="student_submit_form">
                            <input type="text" class="deadline_field w-input" placeholder="Submit time"
                                   id="round2-submit" required="required"/>
                            <input type="text" class="deadline_field w-input" placeholder="Result time"
                                   id="round2-result" required="required"/>
                            <input type="text" class="deadline_field w-input" name="field-3" placeholder="Title"
                                   id='round2-title' required="required"/>
                            <input id="round2-submit-button" type="submit" value="Save" data-wait="Please wait..."
                                   class="submit-button w-button"/>
                        </form>
                    </div>
                </div>
                <div class="_20px_height"></div>
                <h2 class="third_title-2 accent">Notes Setting</h2>
                {% for note in notes %}
                    <div id="w-node-manager-01"
                         class="w-layout-layout quick-stack-2 wf-layout-layout">
                        <div class="w-layout-cell cell-11">
                            <div class="text-block-2"><em class="italic-text-3">{{ note.title }}</em></div>
                        </div>
                        <div class="w-layout-cell cell-17"><a
                                href="{{ url_for('manager.edit_note', note_id = note.id) }}"
                                class="submit-button-2 w-button">Edit</a>
                            <div class="div-block-4"></div>
                            <a href="#" class="submit-button-2 delete_button w-button delete-note"
                               data-note-id="{{ note.id }}">Delete</a></div>
                    </div>
                {% endfor %}
                <div class="_40px_height"></div>
                <a href="{{ url_for('manager.new_note') }}" class="submit-button-2 w-button">+ New Note</a>

                <div class="_40px_height"></div>
                <h2 class="third_title-2 accent">Types Setting</h2>
                {% for type in types %}
                    <div id="w-node-manager-01"
                         class="w-layout-layout quick-stack-2 wf-layout-layout">
                        <div class="w-layout-cell cell-11">
                            <div class="text-block-2"><em class="italic-text-3">{{ type.name }}</em></div>
                        </div>
                        <div class="w-layout-cell cell-17">
                            <a href="{{ url_for('manager.edit_type', type_id = type.id) }}"
                               class="submit-button-2 w-button edit-type">Edit</a>
                            <div class="div-block-4"></div>
                            <a href="#" class="submit-button-2 delete_button w-button delete-type"
                               data-type-id="{{ type.id }}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="_40px_height"></div>
                <a href="{{ url_for('manager.new_type') }}" class="submit-button-2 w-button">+ New Type</a>
                <br>
                <div class="_40px_height"></div>
                <a href="#" class="submit-button-2 delete_button w-button" id="reset-system">Reset System</a>
            </div>
            <div data-w-tab="Students" class="w-tab-pane">
                {{ pickr_table('Students', students, 'student','Student name, Class number') }}
            </div>
            <div data-w-tab="Supervisor" class="w-tab-pane">
                {{ pickr_table('Supervisors', supervisors, 'supervisor','Supervisor name, ID') }}
            </div>
            <div data-w-tab="SupTopics" class="w-tab-pane">
                {{ pickr_table('Supervisor Topics', topics, 'supTopic', 'Topic title, Student name, Supervisor name') }}
            </div>
            <div data-w-tab="Topics" class="w-tab-pane">
                {{ pickr_table('Student Topics', custom_selections, 'topic', 'Topic title, Student name, Supervisor name') }}
            </div>
        </div>
    </div>
    <div class="_80px_height"></div>
    <script>
        // Tab switch
        $(document).ready(function () {
            const _pre = sessionStorage.getItem('pre') || ''
            {#var pre = '{{ pre }}'#}
            $('.tab_link').click(function (e) {
                e.preventDefault();
                var tabEntry = $(this).attr('data-w-tab');
                $('.tab_link').removeClass('w--current');
                $(this).addClass('w--current');
                $('.w-tab-pane').fadeOut(100);
                $('.w-tab-pane[data-w-tab="' + tabEntry + '"]').fadeIn(300)
            });
            if (_pre === 'student') {
                $('.tab_link[data-w-tab="Students"]').click();
            } else if (_pre === 'supervisor') {
                $('.tab_link[data-w-tab="Supervisor"]').click();
            } else if (_pre === 'stuTopic') {
                $('.tab_link[data-w-tab="Topics"]').click();
            } else if (_pre === 'supTopic') {
                $('.tab_link[data-w-tab="SupTopics"]').click();
            } else {
                $('.tab_link').first().click();
            }
        })

        // Deadline time picker
        window.addEventListener('DOMContentLoaded', (event) => {
            flatpickr("#round1-submit", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
                time_24hr: true
            });

            flatpickr("#round1-result", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
                time_24hr: true
            });

            flatpickr("#round2-submit", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
                time_24hr: true
            });

            flatpickr("#round2-result", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
                time_24hr: true
            });
        });

        //Display exist deadlines
        $(document).ready(function () {
            if ('{{ deadline_1.submit_time }}' !== 'None') {
                $('#round1-submit').val('{{ deadline_1.submit_time }}').prop('disabled', true).addClass('disabled-color');
                $('#round1-result').val('{{ deadline_1.result_time }}').prop('disabled', true).addClass('disabled-color');
                $('#round1-title').val('{{ deadline_1.note }}').prop('disabled', true).addClass('disabled-color');
                $('#deadline-form-1 .submit-button').val('Reset');
            }
            if ('{{ deadline_2.submit_time }}' !== 'None') {
                $('#round2-submit').val('{{ deadline_2.submit_time }}').prop('disabled', true).addClass('disabled-color');
                $('#round2-result').val('{{ deadline_2.result_time }}').prop('disabled', true).addClass('disabled-color');
                $('#round2-title').val('{{ deadline_2.note }}').prop('disabled', true).addClass('disabled-color');
                $('#deadline-form-2 .submit-button').val('Reset');
            }
        });

        //Deadline form submit
        $('#deadline-form-1, #deadline-form-2').submit(function (e) {
            e.preventDefault();
            var formID = $(this).attr('id');
            var roundNumber = formID === 'deadline-form-1' ? 1 : 2;
            var submit_time = $('#round' + roundNumber + '-submit').val();
            var result_time = $('#round' + roundNumber + '-result').val();
            var note = $('#round' + roundNumber + '-title').val();
            var isReset = $('#round' + roundNumber + '-submit-button').val() === 'Reset';
            console.log(isReset)

            if (isReset) {
                resetForm(roundNumber);
                return;
            }

            // Reset form
            function resetForm(roundNumber) {
                $.ajax({
                    url: '{{ url_for('manager.update_deadline') }}',
                    method: 'POST',
                    data: {round_num: roundNumber, reset: 'true'},
                    success: function (result) {
                        $('#round' + roundNumber + '-submit').val('');
                        $('#round' + roundNumber + '-result').val('');
                        $('#round' + roundNumber + '-title').val('');
                        $('#deadline-form-' + roundNumber + ' .submit-button').val('Save');
                        location.reload()
                    }
                })
            }

            // submit form
            $.ajax({
                url: '{{ url_for('manager.update_deadline') }}',
                method: 'POST',
                data: {
                    submit_time: submit_time,
                    result_time: result_time,
                    note: note,
                    round_num: roundNumber
                },
                success: function (result) {
                    $('#round' + roundNumber + '-submit').val(submit_time)
                    $('#round' + roundNumber + '-result').val(result_time)
                    $('#round' + roundNumber + '-title').val(note)
                    $('#deadline-form-' + roundNumber + ' .submit-button').val('Reset');
                    location.reload()
                }
            })
        })

        // Delete type
        $('.delete-type').click(function (e) {
            e.preventDefault()
            var typeID = $(this).data('type-id');
            var element = $(this).closest('.quick-stack-2')

            var confirmed = confirm("Are you sure you want to delete this type?");

            var baseUrl = "{{ url_for('manager.delete_type', type_id = '0') }}";

            if (confirmed) {
                var fullUrl = baseUrl.replace('/0', '/' + typeID);
                $.ajax({
                    url: fullUrl,
                    method: 'GET',
                    success: function (response) {
                        if (response.success) {
                            element.remove()
                        } else {
                            alert(response.error)
                        }
                    }
                })
            }
        })

        // delete note
        $('.delete-note').click(function (e) {
            e.preventDefault()
            var noteID = $(this).data('note-id');
            var element = $(this).closest('.quick-stack-2')
            var confirmed = confirm("Are you sure you want to delete this topic?");
            var baseUrl = "{{ url_for('manager.delete_note', note_id = '0') }}";
            if (confirmed) {
                var fullUrl = baseUrl.replace('/0', '/' + noteID);
                $.ajax({
                    url: fullUrl,
                    method: 'GET',
                    success: function (result) {
                        element.remove()
                    }
                })
            }
        })


        //reset system
        $('#reset-system').click(function (e) {
            e.preventDefault()
            var confirmed = confirm("Are you sure you want to reset the system? This operation will clean all SELECTIONS and STUDENTS data.");

            if (confirmed) {
                $.ajax({
                    url: '{{ url_for('manager.resetting') }}',
                    method: 'GET',
                    success: function (response) {
                        if (response.success) {
                            location.reload()
                        } else {
                            alert(response.error)
                        }
                    }
                })
            }
        })

        function pagination(type) {
            const pageSize = 10;
            let currentPage = 1;
            const $table = $(`#table-${type}`)
            const tbody = document.querySelector(`#tbody-${type}`)
            let data = tbody.getElementsByTagName('tr');
            let originalData = data;
            let visibleData = data;
            let pageCount = updatePageCount();


            function updatePageCount() {
                return Math.ceil(visibleData.length / pageSize);
            }

            function updateButtons() {
                $(`#pre-page-${type}`).toggleClass('disabled', currentPage === 1);
                $(`#last-page-${type}`).toggleClass('disabled', currentPage === pageCount);
                $(`#page-number-${type}`).text(currentPage + ' / ' + pageCount);
            }

            // Used to show or hide the "No results found" message
            function toggleNoResultsMessage(show) {
                if (show) {
                    $table.hide()
                    $(`#no-results-message-${type}`).removeClass('hidden');
                } else {
                    $table.show()
                    $(`#no-results-message-${type}`).addClass('hidden');
                }
            }

            // Render the current page
            function renderPage() {
                Array.from(data).forEach((row, index) => {
                    row.style.display = 'none';
                })
                const start = (currentPage - 1) * pageSize
                const end = Math.min(start + pageSize, data.length);
                Array.from(visibleData).forEach((row, index) => {
                    row.style.display = (index >= start && index < end) ? '' : 'none';
                });
                updateButtons();
                toggleNoResultsMessage(visibleData.length === 0);
            }

            $(`#pre-page-${type}`).click(function () {
                if (currentPage > 1) {
                    currentPage--;
                    renderPage();
                }
            });

            $(`#last-page-${type}`).click(function () {
                if (currentPage < pageCount) {
                    currentPage++;
                    renderPage();
                }
            });

            $(`#search-input-${type}`).click(function (e) {
                e.preventDefault();
                const searchKey = $(`input[name="search-${type}"]`).val().toLowerCase();
                visibleData = Array.from(data).filter(function (value, index) {
                    const td = value.querySelector(`#td-1-${type}`).innerText.trim()
                    const td2 = value.querySelector(`#td-2-${type}`).innerText.trim()
                    const td3 = value.querySelector(`#td-3-${type}`).innerText.trim()
                    if (type === 'student' || type === 'topic') {
                        return !searchKey || td.includes(searchKey) || td2.includes(searchKey) || td3.includes(searchKey);
                    } else {
                        return !searchKey || td.includes(searchKey)
                    }
                })
                currentPage = 1;
                pageCount = updatePageCount();
                renderPage()
            });

            $(`#reset-input-${type}`).click(function (e) {
                e.preventDefault();
                $(`input[name="search-${type}"]`).val('')
                visibleData = originalData;
                currentPage = 1;
                pageCount = updatePageCount();
                renderPage()
            });

            renderPage();
        }

        $(document).ready(function () {
            pagination('student')
            pagination('supervisor')
            pagination('topic')
            pagination('supTopic')

        })

        var modal = document.getElementById("modal");
        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }

        document.querySelector('#fail_students').addEventListener('click', function (event) {
            event.preventDefault();

            modal.style.display = "block";

            fetch('{{ url_for('manager.fail_students') }}')
                .then(response => response.json())
                .then(data => {
                    var studentDataElement = document.getElementById("student-data");
                    studentDataElement.innerHTML = "";
                    if (data.students.length === 0) {
                        studentDataElement.innerHTML = `<h2 class="second_title accent">Fail Students</h2><div class="_20px_height"></div><div class="text-block">No fail students</div>`;
                        return;
                    }
                    studentDataElement.innerHTML += `<h2 class="second_title accent">Fail Students</h2><div class="_20px_height"></div>`;
                    data.students.forEach(student => {
                        studentDataElement.innerHTML += `
                            <div class="text-block">${student.english_name}(${student.chinese_name}) - ${student.class_number} <a href="/manager/student_status/${student.id}"class="small_link accent" style="display: inline !important; margin-left: 40px">Detail↗</a></div>
                            <div class="_20px_height"></div>`;
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


    </script>
    </body>
{% endblock %}