{% extends 'base-temp.html' %}

{% block title %}Pickr | Supervisor{% endblock %}
{% from 'macro/pickr_table.html' import pickr_simple_table %}

{% block content %}
    <style>
        a:hover {
            color: var(--accent);
        }
        .tabs-menu {
          border-right: 1px none var(--wite);
          border-bottom: 1px none var(--wite);
          border-left: 1px none var(--wite);
          justify-content: space-between;
          padding-top: 20px;
          display: flex;
        }
    </style>
    <body>
    <section class="page_hearder">
        <h1 class="first_title">Hi,{{ supervisor.first_name }} {{ supervisor.last_name }}!</h1>
        <div class="_20px_height"></div>
        <a href="{{ url_for('base.logout') }}" class="small_link accent"><em>Logout↗</em></a>
        <a href="{{ url_for('base.change_password') }}" class="small_link accent" style="margin-left: 20px"><em>Change
            Password↗</em></a>
        <div class="_20px_height"></div>
        <p style="color: #fff">In this page,you can create your topic and check your applications.</p></section>
    <section>
        <div data-current="Applications" class="w-tabs">
            <address class="tabs-menu" style="position: relative;">
                <a data-w-tab="Topics" class="tab_link long_tab_link w-inline-block w-tab-link">
                    <div>Topics</div>
                </a>
                <a data-w-tab="Applications" class="tab_link long_tab_link w-inline-block w-tab-link">
                    <div>Applications</div>
                </a>
            </address>
            <div class="w-tab-content">
                {#Topics Section#}
                <div data-w-tab="Topics" class="w-tab-pane">
                     {{ pickr_simple_table('Your topics', topics, 'supTopic', total_quta, supervisor.position ) }}
                </div>
                {#Applications Section#}
                <div data-w-tab="Applications" class="w-tab-pane" style="display: block;">
                    {{ pickr_simple_table('Your Students', not_custom_selections, 'supStudent', supervisor.get_total_final_selections()) }}
                    {{ pickr_simple_table('Custom Topics', custom_selections, 'supCustom') }}
                    <div class="_40px_height"><a href="{{ url_for('supervisor.export_student_list') }}"
                                                 class="submit-button phone w-button"><em>→</em> Export</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="_80px_height"></div>
    </section>
    <script>
        $(document).ready(function () {
            $('.tab_link').click(function (e) {
                e.preventDefault();
                var tabId = $(this).attr('data-w-tab');
                $('.tab_link').removeClass('w--current');
                $(this).addClass('w--current');
                $('.w-tab-pane').fadeOut(100);
                $('.w-tab-pane[data-w-tab="' + tabId + '"]').fadeIn(300);
            });
            $('.tab_link').first().click();
        });


    </script>
    </body>
{% endblock %}