{% extends 'base-temp.html' %}

{% block title %}Pickr | Supervisor{% endblock %}
{% from 'macro/pickr_table.html' import pickr_simple_table %}

{% block content %}
    <style>
        a:hover {
            color: var(--accent);
        }

        h2 {
            margin-top: 0;
        }
        .tabs-menu {
          border-right: 1px none var(--wite);
          border-bottom: 1px none var(--wite);
          border-left: 1px none var(--wite);
          justify-content: space-between;
          padding-top: 20px;
          display: flex;
        }
        .accordion-body {
            background-color: black;
            color: white;
        }
        .accordion-button:not(.collapsed) {
            color: black;
            background-color: white;
        }
        .accordion-button {
            padding: .5rem 1rem;
        }
        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
        }
    </style>
    <body>
    <section class="page_hearder">
        <h1 class="first_title">Hi,{{ supervisor.first_name }} {{ supervisor.last_name }}!</h1>
        <div class="_20px_height"></div>
        <a href="{{ url_for('base.logout') }}" class="small_link accent"><em>Logout↗</em></a>
        <a href="{{ url_for('base.change_password') }}" class="small_link accent" style="margin-left: 20px"><em>Change
            Password↗</em></a>
        <div class="_20px_height"></div>
        <p style="color: #fff">In this page,you can create your topic and check your applications.</p></section>
    <section>

        <div data-current="Applications" class="w-tabs">
            <address class="tabs-menu" style="position: relative;">
                <a data-w-tab="Topics" class="tab_link long_tab_link w-inline-block w-tab-link">
                    <div>Topics</div>
                </a>
                <a data-w-tab="Reports" class="tab_link long_tab_link w-inline-block w-tab-link">
                    <div>Reports</div>
                </a>
            </address>
            <div class="w-tab-content">
                {#Topics Section#}
                <div data-w-tab="Topics" class="w-tab-pane">
                    {{ pickr_simple_table('Your topics', topics, 'supTopic', total_quta, supervisor.position ) }}
                    <div style="margin-top: 50px;"></div>
                    {{ pickr_simple_table('Student Custom Topics', custom_selections, 'supCustom') }}
                    <div class="_40px_height"><a href="{{ url_for('supervisor.export_student_list') }}" class="submit-button phone w-button"><em>→</em> Export Student List</a></div>
                </div>
                {#Applications Section#}
                <div data-w-tab="Reports" class="w-tab-pane">
                    <h1>Report</h1>

                </div>
            </div>
        </div>
        <div class="_80px_height"></div>
    </section>
    <script>
        $(document).ready(function () {
            $('.tab_link').click(function (e) {
                e.preventDefault();
                var tabId = $(this).attr('data-w-tab');
                $('.tab_link').removeClass('w--current');
                $(this).addClass('w--current');
                $('.w-tab-pane').fadeOut(100);
                $('.w-tab-pane[data-w-tab="' + tabId + '"]').fadeIn(300);
            });
            $('.tab_link').first().click();
        });


    </script>
    </body>
{% endblock %}