.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
}

input.w-button {
    -webkit-appearance: button;
}

.w-form {
    margin: 0 0 15px;
}

.w-input, .w-select {
    width: 100%;
    height: 38px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
}

.w-input:-moz-placeholder, .w-select:-moz-placeholder {
    color: #999;
}

.w-input::-moz-placeholder, .w-select::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.w-input::-webkit-input-placeholder, .w-select::-webkit-input-placeholder {
    color: #999;
}

.w-input:focus, .w-select:focus {
    border-color: #3898ec;
    outline: 0;
}

.w-input[disabled], .w-select[disabled], .w-input[readonly], .w-select[readonly], fieldset[disabled] .w-input, fieldset[disabled] .w-select {
    cursor: not-allowed;
}

.w-input[disabled]:not(.w-input-disabled), .w-select[disabled]:not(.w-input-disabled), .w-input[readonly], .w-select[readonly], fieldset[disabled]:not(.w-input-disabled) .w-input, fieldset[disabled]:not(.w-input-disabled) .w-select {
    background-color: #eee;
}

textarea.w-input, textarea.w-select {
    height: auto;
}

.w-select {
    background-color: #f3f3f3;
}

.w-select[multiple] {
    height: auto;
}

.w-form-label {
    cursor: pointer;
    margin-bottom: 0;
    font-weight: normal;
    display: inline-block;
}

.w-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.w-container:before, .w-container:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.w-container:after {
    clear: both;
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}

.w-tabs {
    position: relative;
}

.w-tabs:before, .w-tabs:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.w-tabs:after {
    clear: both;
}

.w-tab-menu {
    position: relative;
}

.w-tab-link {
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    color: #222;
    background-color: #ddd;
    padding: 9px 30px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.w-tab-link.w--current {
    background-color: #c8c8c8;
}

.w-tab-link:focus {
    outline: 0;
}

.w-tab-content {
    display: block;
    position: relative;
    overflow: hidden;
}

.w-tab-pane {
    display: none;
    position: relative;
}

.w--tab-active {
    display: block;
}

.wf-layout-layout {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-auto-columns: 1fr;
    justify-content: center;
    padding: 20px;
}

.w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.w-layout-hflex {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
}

.w-layout-vflex {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.w-layout-cell {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.w-checkbox {
    margin-bottom: 5px;
    padding-left: 20px;
    display: block;
}

.w-checkbox:before {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.w-checkbox:after {
    content: " ";
    clear: both;
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.w-checkbox-input {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal;
}

.w-checkbox-input--inputType-custom {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
    background-color: #3898ec;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
    box-shadow: 0 0 3px 1px #3898ec;
}

.section {
    z-index: 0;
    /*height: 100vh;*/
    /*max-height: 100vh;*/
    min-height: 100vh;
    /*position: static;*/
}

.head {
    z-index: 1;
    min-width: 100vw;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    color: var(--wite);
    background-color: #000;
    border: 1px #000;
    flex-direction: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.login {
    color: #fff;
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 0;
    padding-right: 40px;
    font-family: Dank Mono, sans-serif;
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
    display: block;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
}

.login:hover {
    text-decoration: underline;
}

.image {
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 0;
    padding-left: 0;
}

.container {
    max-width: 100vw;
    padding-top: 28vh;
}

.container.center {
    text-align: center;
}

.container.center.opps {
    padding-left: 175px;
    padding-right: 175px;
}

.big_wite_heeding {
    color: #fff;
    overflow-wrap: break-word;
    margin-top: 64px;
    font-family: Dank Mono, sans-serif;
    font-size: 90px;
}

.big_wite_heeding.accent {
    color: var(--accent);
    font-style: italic;
}

.link {
    color: var(--wite);
    font-family: Dank Mono, sans-serif;
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link.link_accent {
    color: var(--accent);
    font-style: italic;
    text-decoration: none;
}

.link.link_accent:hover {
    text-decoration: underline;
}

.flex-block {
    margin-top: 116px;
}

._60px_width {
    width: 60px;
}

.se {
    color: var(--wite);
    text-align: left;
}

.container-2 {
    text-align: left;
    margin-right: 40px;
}

.system-info_block {
    align-items: flex-end;
    margin-bottom: 5px;
    margin-right: 40px;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.flex-block-3 {
    align-items: center;
}

.big_title {
    color: var(--wite);
    font-size: 50px;
}

.big_title.accent {
    color: var(--accent);
}

.italic-text {
    font-style: italic;
}

.page_hearder {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #000;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 115px;
    padding-bottom: 10px;
    padding-left: 0;
}

.first_title {
    margin-bottom: 10px;
    font-size: 60px;
}

.first_title.center {
    text-align: center;
}

.small_link {
    color: var(--wite);
    font-family: Dank Mono, sans-serif;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
}

.small_link:hover {
    text-decoration: underline;
}

.small_link.link_accent {
    color: var(--accent);
    font-style: italic;
}

.small_link.span_40px_back {
    margin-bottom: 10px;
    margin-right: 40px;
}

.small_link.span_40px_back.span_20px_button {
    margin-bottom: 10px;
}

._20header_section {
    margin-top: 20px;
}

.text-block {
    color: var(--wite);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 20px;
    font-style: normal;
}

.text-block.italic-text {
    font-style: italic;
}

.text-block.italic-text.accent._0head {
    margin-top: 0;
    margin-left: 10px;
}

.text-block.italic-text._20_leading {
    margin-left: 20px;
}

.text-block.accent {
    color: var(--accent);
    margin-top: 10px;
}

.text-block.accent._10button {
    margin-bottom: 10px;
}

.text-block._10head_spacing {
    margin-top: 10px;
}

.text-block._10head_spacing.i {
    font-style: italic;
}

.text-block._10head_spacing._10button_spacing.accent.tipic_item_candidate {
    margin-left: 10px;
}

.text-block.center {
    text-align: center;
}

.text-block.login_text {
    margin-top: 30px;
    margin-bottom: 10px;
}

.text-block.back_space {
    margin-right: 220px;
}

.text-block._10button_spac {
    margin-top: 20px;
    margin-bottom: 10px;
}

.paragraph {
    color: var(--wite);
}

.paragraph.i {
    font-style: italic;
}

.paragraph.i._10_head {
    margin-top: 10px;
}

._20px_height {
    padding-top: 20px;
}

.flex_block_warp {
    flex-wrap: wrap;
}

._40px_header {
    margin-top: 40px;
    margin-right: 40px;
}

._40px_width {
    width: 40px;
}

.third_title {
    color: var(--wite);
    font-size: 30px;
}

.third_title.no_head_spacing {
    margin-top: 0;
}

.third_title.no_head_spacing.accent.no_button_spacing {
    margin-bottom: 0;
}

.third_title.accent {
    color: var(--accent);
}

.flex-block-4 {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-block-5 {
    align-items: center;
}

.topic_list_item_para {
    width: 60vw;
}

.flex-block-8 {
    max-width: 30vw;
    justify-content: space-around;
    align-items: flex-start;
}

.link-block {
    border-top: 1px solid var(--gray);
    border-bottom: 1px none var(--gray);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    display: flex;
}

._40px_height {
    padding-top: 40px;
}

._100px_width {
    width: 100px;
}

.course_list_item {
    margin-bottom: 20px;
    padding: 0;
}

.topic_filter_item {
    margin-top: 20px;
    padding: 0;
}

.flex-block-7 {
    flex-wrap: wrap;
    align-items: center;
}

.cell {
    flex-wrap: wrap;
    justify-content: flex-start;
}

._80px_header {
    margin-top: 80px;
    margin-right: 40px;
}

.body-2 {
    flex-direction: row;
    align-items: center;
    display: flex;
}

.container-4 {
    flex: 1;
    align-items: center;
}

.heading, .second_title.center {
    text-align: center;
}

.second_title.center.accent {
    color: var(--accent);
}

.text-field {
    color: var(--wite);
    background-color: #000;
    transition: border-color .2s ease-in-out;
}

.text-field:hover {
    border: 1px solid var(--accent);
}

.text-field:focus-visible {
    border: 1px solid var(--accent);
}

.text-field[data-wf-focus-visible] {
    border: 1px solid var(--accent);
}

.text-field.topic_list {
    min-width: 300px;
    border: 1px solid var(--wite);
    -webkit-text-stroke-color: var(--wite);
    margin-bottom: 0;
    margin-right: 40px;
}

.text-field.topic_list:hover {
    border-color: var(--accent);
}

.text-field.topic_list.manage {
    max-width: 30vw;
    min-width: 30vw;
    border: 1px solid var(--wite);
}

.text-field.topic_list.manage:hover {
    border-color: var(--accent);
}

.text-field.creatnew {
    max-width: 400px;
    color: var(--wite);
}

.text-field.text-area {
    max-width: 70vw;
    min-height: 200px;
}

._80px_height {
    padding-top: 50px;
}

.form {
    min-width: 450px;
}

.form-block {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.submit-button {
    border: 1px solid var(--wite);
    background-color: #000;
    transition: border-color .2s ease-in-out;
}

.submit-button:hover {
    border-color: var(--accent);
    color: var(--accent);
}

.submit-button._20head_spacing {
    margin-top: 20px;
}

.submit-button._20leading_space {
    margin-left: 20px;
}

.submit-button._20leading_space.accent {
    border-color: var(--accent);
}

.submit-button._20leading_space.accent:hover {
    color: #ff1200;
    border-color: #ff1200;
}

.submit-button.manager_head {
    width: 20vw;
    text-align: center;
}

.cell-3, .cell-4 {
    justify-content: center;
}

.italic-text-2, .italic-text-3 {
    font-style: normal;
}

.tutorial_timeline_item {
    margin-bottom: 10px;
    padding: 0;
}

.footer {
    border-top: 1px solid var(--wite);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*position: relative;*/
    /*top: auto;*/
    /*bottom: 0%;*/
    /*left: 0%;*/
    /*right: 0%;*/
}

.fourth_title {
    color: var(--wite);
    font-size: 25px;
}

.fourth_title.no_head_spacing {
    margin-top: 0;
}

.fourth_title.no_head_spacing.accent.no_button_spacing {
    margin-bottom: 0;
}

.fourth_title.accent {
    color: var(--accent);
}

.student_submit_form {
    flex-direction: row;
    align-items: center;
    display: flex;
}

.text-field-2 {
    width: 400px;
    margin-bottom: 0;
}

.text-field_topic {
    width: 300px;
    color: var(--wite);
    background-color: #000;
    margin-bottom: 0;
    margin-right: 40px;
    transition: border-color .2s ease-in-out;
}

.text-field_topic:hover {
    border: 1px solid var(--accent);
}

.text-field_topic:focus-visible {
    border: 1px solid var(--accent);
}

.text-field_topic[data-wf-focus-visible] {
    border: 1px solid var(--accent);
}

.accent {
    color: var(--accent);
}

.cell-5 {
    flex-direction: row;
}

.quick-stack {
    border-style: none none solid;
    border-width: 1px;
    border-color: var(--wite);
    padding: 0 0 20px;
}

.cell-6 {
    justify-content: center;
}

.cell-7, .cell-8 {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.flex-block-9 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
}

.flex-block-10 {
    align-items: center;
}

.cell-9 {
    flex-direction: row;
    justify-content: flex-end;
}

.supervisor_result_item {
    border-style: none none solid;
    border-width: 1px;
    border-color: black black var(--gray);
    margin-bottom: 0;
    padding: 20px 0;
}

.form-2 {
    align-items: center;
    display: flex;
}

.paragraph-3 {
    color: #fff;
}

.supervisor_result_item-2 {
    border: 1px #000;
    border-bottom: 1px solid #8b8b8b;
    margin-bottom: 0;
    padding: 20px 0;
}

.text-block-2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 20px;
    font-style: normal;
}

.text-block-2.italic-text {
    font-style: italic;
}

.text-block-2.italic-text._20_leading {
    margin-left: 20px;
}

.text-block-2.back_space {
    margin-right: 220px;
}

.submit-button-2 {
    background-color: #000;
    border: 1px solid #fff;
    transition: border-color .2s ease-in-out;
}

.submit-button-2:hover {
    color: #e16c63;
    border-color: #e16c63;
}

.submit-button-2._20leading_space {
    margin-left: 20px;
}

.submit-button-2._20leading_space.accent {
    border-color: #e16c63;
}

.submit-button-2._20leading_space.accent:hover {
    color: #ff1200;
    border-color: #ff1200;
}

.submit-button-2._20head_spacing {
    margin-top: 20px;
}

.submit-button-2.delete_button {
    border-color: var(--accent);
    color: var(--accent);
}

.submit-button-2.delete_button:hover {
    border-color: var(--red);
    color: var(--red);
}

.third_title-2 {
    color: #fff;
    font-size: 30px;
}

.third_title-2.accent {
    color: #e16c63;
}

.list {
    padding-left: 0;
}

.checkbox-field {
    margin-bottom: 10px;
}

.custom-topic_fild {
    max-width: 600px;
    min-width: 600px;
}

.inlimite_container {
    max-width: none;
}

.tabs-menu {
    border-right: 1px none var(--wite);
    border-bottom: 1px none var(--wite);
    border-left: 1px none var(--wite);
    justify-content: space-between;
    padding-top: 20px;
    display: flex;
}

.tab_link {
    width: 20vw;
    border: 1px solid var(--wite);
    background-color: var(--transparent);
    color: var(--wite);
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    font-style: normal;
    display: flex;
}

.tab_link.w--current {
    border: 1px solid var(--accent);
    background-color: var(--transparent);
    color: var(--accent);
}

.tab_link.long_tab_link {
    width: 40vw;
}

.cell-10 {
    justify-content: center;
    align-items: flex-end;
}

.cell-11 {
    justify-content: center;
}

.cell-12 {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.div-block-4 {
    min-width: 1vw;
}

.cell-13 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cell-14 {
    justify-content: center;
    align-items: flex-start;
}

.cell-15 {
    flex-direction: row;
    justify-content: flex-end;
}

.cell-16 {
    justify-content: center;
    align-items: center;
}

.quick-stack-2 {
    border: 1px #8b8b8b;
    border-bottom-style: solid;
    padding-left: 0;
    padding-right: 0;
}

.cell-17 {
    flex-direction: row;
    justify-content: flex-end;
}

.deadline_field {
    max-width: 300px;
    color: var(--wite);
    background-color: #000;
    margin-bottom: 0;
    margin-right: 40px;
    transition: border-color .2s ease-in-out;
}

.deadline_field:hover {
    border: 1px solid var(--accent);
}

.deadline_field:focus-visible {
    border: 1px solid var(--accent);
}

.deadline_field[data-wf-focus-visible] {
    border: 1px solid var(--accent);
}

._30px_height {
    padding-top: 40px;
}

.biggest_title {
    color: #fff;
    overflow-wrap: break-word;
    margin-top: 64px;
    padding-top: 66px;
    padding-bottom: 83px;
    font-family: Dank Mono, sans-serif;
    font-size: 190px;
}

.biggest_title.accent {
    color: var(--accent);
    font-style: italic;
}

.heading-2 {
    color: var(--wite);
}

.heading-2.oops {
    padding-left: 20vw;
    padding-right: 20vw;
}

#w-node-deabcae5-0c7b-6d86-d808-302357e4ece1-cef70243, #w-node-bf361100-bd21-d84e-edaf-9ad10012b7e3-cef70243, #w-node-_6d4d9fb8-d384-6491-34c1-e695e63ceb13-cef70243, #w-node-c7c75e64-fdc4-6588-8594-5cb2b4e48d3f-81e348b7, #w-node-cc3a90ba-95d1-38e0-0aa7-e8eab74f8467-81e348b7, #w-node-_32f84248-4d6a-5941-8c16-7218da059db9-81e348b7, #w-node-_3b21116e-413f-f09b-b744-081f7b5301e0-81e348b7, #w-node-dee0e41c-a026-7fcd-983f-4910eb77808f-12a95ea8, #w-node-_4b3765c4-aa80-156f-7bee-22f97672b60c-12a95ea8, #w-node-d48b4f43-d5f3-7438-e3be-126c9accc039-12a95ea8, #w-node-b809cfbf-c057-ac68-7c82-f2081e795906-12a95ea8, #w-node-c01e4d8c-185e-4dae-307e-7a9c36719697-6e227e00, #w-node-c01e4d8c-185e-4dae-307e-7a9c367196a1-6e227e00, #w-node-a0356be8-a343-2772-d9df-42385edb7f34-6e227e00 {
    grid-template-rows: auto;
    grid-template-columns: .25fr 1fr;
}

#w-node-_9f757423-53b6-d901-12d6-50a77b983512-06e36864, #w-node-_343ab568-d4a9-892d-c91d-a760dbd94c28-06e36864, #w-node-_89e4b8a8-33e8-e9af-6566-604bb7c61a6b-06e36864, #w-node-_29edd58e-651f-de08-ac9d-0a533261d323-06e36864 {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1fr 1fr 1fr;
}

#w-node-_4bbf146a-34a9-d23a-f84c-f5f9d0167cc5-06e36864, #w-node-_56af5ad5-4164-93c2-bdb1-d8bf0fed846c-06e36864, #w-node-_93709fe4-a95d-a0f2-4d02-992aa4ffe1ea-06e36864 {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1fr 1fr;
}

#w-node-_99c83fca-437f-01a5-7b54-1b23caf7dda1-53bceb80, #w-node-_1b1b19ff-dfb5-27d4-9ace-720ebd84ecdf-53bceb80 {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1fr;
}

#w-node-_1c9ceedb-8466-6e76-89c8-b19d402c5623-53bceb80, #w-node-_8d5832ee-3c70-ef27-7eed-4972f3b6e098-53bceb80, #w-node-_36a18d53-f1a1-c81d-6419-d90e68e585ff-53bceb80, #w-node-_6d84c423-57bf-d7b5-c431-31abd2752842-53bceb80 {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1fr 1fr 1fr;
}

#w-node-_61d034f8-4fc7-8217-b3c7-ce0caff21021-53bceb80 {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1fr 1fr 1fr 1fr;
}