.big_wite_heeding {
    color: #fff;
    overflow-wrap: break-word;
    margin-top: 64px;
    font-family: Dank Mono, sans-serif;
    font-size: 90px;
}

.big_wite_heeding.accent {
    font-style: italic;
}

.se {
    color: var(--wite);
    text-align: left;
}

.container-2 {
    text-align: left;
    margin-right: 40px;
}

.system-info_block {
    align-items: flex-end;
    margin-bottom: 5px;
    margin-right: 40px;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.big_title {
    color: var(--wite);
    font-size: 50px;
}

@media (max-width: 1250px) {
    .big_wite_heeding {
        margin-top: 40px;
        font-size: 78px;
        line-height: 60px;
    }
}

@media (max-width: 991px) {
    .big_wite_heeding {
        margin-top: 40px;
        font-size: 68px;
    }
}

@media (max-width: 767px) {
    .big_wite_heeding {
        margin-top: 20px;
        font-size: 60px;
    }
}

@media (max-width: 479px) {
    .big_wite_heeding {
        margin-top: 6px !important;
        font-size: 40px !important;
        line-height: initial !important;
    }

    .se {
        font-size: 30px;
    }
}

