.deadline_field {
    max-width: 300px;
    color: var(--wite);
    margin-bottom: 0;
    margin-right: 40px;
    transition: border-color .2s ease-in-out;
    background-color: black !important;
}

.deadline_field:hover,
.deadline_field:focus-visible,
.deadline_field[data-wf-focus-visible] {
    border: 1px solid var(--accent);
}

.disabled-color {
    background-color: #a8a8a8 !important;
    color: #000000 !important;
}

.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #e16c63;
    text-decoration: none;
    cursor: pointer;
}

.w-node-manager-01 {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1fr;
}

#w-node-manager-02,
#w-node-manager-03 {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1fr 1fr 1fr;
}

#w-node-manager-04 {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1fr 1fr 1fr 1fr;
}

#w-node-global-01 {
    grid-template-columns: 1fr 1fr;
}

.text-block-2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 20px;
    font-style: normal;
}

.text-block-2.italic-text {
    font-style: italic;
}

.text-block-2.italic-text._20_leading {
    margin-left: 20px;
}

.text-block-2.back_space {
    margin-right: 220px;
}

.page_hearder {
    border-bottom: unset;
}

.form-check-input:checked {
    background-color: #e16c63;
    border-color: #e16c63;
}

address a {
    flex-shrink: 0;
}

address .tab_link {
    width: unset;
    padding: 10px 30px;
    font-size: 18px;
}

.tab_link.w--current, a.tab_link:hover {
    border: 1px solid #eb3939;
    background-color: #eb3939;
    color: white;
}

.modal-content-demo {
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px
}

.info-box {
    color: gray;
    max-width: 1000px;
}


#filterForm {
    display: flex;
}

@media (max-width: 1000px) {
    #w-node-manager-02,
    #w-node-manager-03 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 479px) {
    #w-node-manager-01,
    #w-node-manager-02,
    #w-node-manager-03,
    #w-node-manager-04 {
        grid-template-columns: .5fr 1fr;
        grid-column-gap: unset;
    }

    #w-node-manager-03 .wf-layout-layout,
    #w-node-manager-02 .wf-layout-layout {
        grid-column-gap: unset;
    }

    .search-form {
        flex-wrap: wrap;
    }

    .search-form .text-field.topic_list.manage {
        max-width: unset;
        min-width: unset;
    }

    .search-form > input[type=text] {
        width: 100%;
        margin-bottom: 20px;
    }

    #w-node-manager-04 .cell-16 {
        display: none;
    }

    .text-block-2.phone_button {
        margin-bottom: 0;
    }

    #w-node-global-01 {
        display: block;
    }

    #w-node-global-01 .w-layout-cell:last-child {
        display: block;
    }

    #w-node-global-01 .num {
        text-align: right;
    }

    .student_submit_form {
        display: block;
    }

    .student_submit_form .deadline_field {
        margin-bottom: 10px;
    }

    .text-block-2 {
        margin-right: 0;
        font-size: 15px;
    }

    .text-block-2.back_space {
        margin-right: 0;
    }

    .text-block-2.phone_button {
        margin-bottom: 20px;
        margin-left: 0;
    }

    .text-block-2.phone_button.phone_leading {
        margin-left: 10px;
    }

    address::-webkit-scrollbar {
        display: none;
    }

    address .tab_link {
        padding: 10px;
        font-size: 14px;
    }

    .modal-content-demo {
        width: 95%;
    !important;
    }

    .info-box {
        font-size: 14px;
        line-height: 16px;
    }

    .pickr-btn {
        padding: 10px;
    }

    #filterForm {
        display: block;
    }

    #filterForm .yang-label,
    #filterForm .form-select {
        font-size: .8rem;
    }

    #filterForm .select-box {
        margin-right: 0 !important;
    }

    #filterForm .select-box:first-child {
        float: left;
    }

    #filterForm .select-box:nth-child(2) {
        float: right;
    }

    #filterForm .select-box:last-child {
        clear: both;
    }
}