.deadline_field {
    max-width: 300px;
    color: var(--wite);
    margin-bottom: 0;
    margin-right: 40px;
    transition: border-color .2s ease-in-out;
    background-color: black !important;
}

.deadline_field:hover,
.deadline_field:focus-visible,
.deadline_field[data-wf-focus-visible] {
    border: 1px solid var(--accent);
}

.disabled-color {
    background-color: #a8a8a8 !important;
    color: #000000 !important;
}

.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #e16c63;
    text-decoration: none;
    cursor: pointer;
}

#w-node-manager-01 {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1fr;
}

#w-node-manager-02,
#w-node-manager-03 {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1fr 1fr 1fr;
}

#w-node-manager-04 {
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1fr 1fr 1fr 1fr;
}

#w-node-global-01 {
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
    #w-node-manager-02,
    #w-node-manager-03 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 479px) {
    #w-node-manager-02,
    #w-node-manager-03,
    #w-node-manager-04 {
        grid-template-rows: auto;
        grid-template-columns: .5fr 1fr;
        grid-column-gap: unset;
    }

    #w-node-manager-03 .wf-layout-layout,
    #w-node-manager-02 .wf-layout-layout{
        grid-column-gap: unset;
    }

    .search-form {
        flex-wrap: wrap;
    }

    .search-form .text-field.topic_list.manage {
        max-width: unset;
        min-width: unset;
    }

    .search-form > input[type=text] {
        width: 100%;
        margin-bottom: 20px;
    }

    #w-node-manager-04 .cell-16 {
        display: none;
    }

    .text-block-2.phone_button {
        margin-bottom: 0;
    }

    #w-node-global-01 {
        grid-template-columns: 4fr 2fr;
    }

    .student_submit_form {
        display: block;
    }

    .student_submit_form .deadline_field {
        margin-bottom: 10px;
    }
}