.disabled-color {
    background-color: #a8a8a8 !important;
    color: #000000;
}

.submit-button.disabled {
    border-color: #666666;
    color: #666666;
    cursor: not-allowed;
    pointer-events: none;
}

.w-checkbox {
    margin-bottom: 5px;
    padding-left: 20px;
    display: block;
}

.w-checkbox:before {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.w-checkbox:after {
    content: " ";
    clear: both;
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.w-checkbox-input {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal;
}

#w-node-student {
    grid-template-rows: auto;
    grid-template-columns: .25fr 1fr;
}

.w-form-label {
    cursor: pointer;
    margin-bottom: 0;
    font-weight: normal;
    display: inline-block;
}

@media (max-width: 479px) {
    #w-node-student {
        grid-template-columns: .5fr 1fr !important;
    }
}


