/*custom components*/

/*custom bootstrap alert*/
.alert {
    color: white;
    position: absolute;
    top: -100px;
    left: 50%;
    opacity: 0;
    transform: translate(-50%);
    transition: opacity 0.5s, top 0.5s;
    z-index: 999;
    border: none;
}
.alert-danger {
    background-color: red;
}
.alert-success {
    color: #598758;
    background-color: #def0d8;
}
.alert-warning {
    background-color: orange;
}
.down {
    animation: slideDown 1s forwards;
}
.up {
    animation: slideUp 1s forwards;
}
@keyframes slideDown {
    from {
        top: -100px;
        opacity: 0;
        display: none;
    }
    to {
        top: 70px;
        opacity: 1;
        display: block;
    }
}
@keyframes slideUp {
    from {
        top: 70px;
        opacity: 1;
        display: block;
    }
    to {
        top: -100px;
        opacity: 0;
        display: none;
    }
}