{% extends 'base-temp.html' %}

{% block title %}Pickr | Edit Topic{% endblock %}

{% block content %}
    <body>
    <section class="page_hearder"><h1 class="first_title">Creat new note</h1>
        <p class="paragraph">In this page,you can create new note which will display on the tutorial page.</p></section>
    <section>
        <div class="_20px_height"></div>
        <div class="w-form">
            <form action="{{ url_for('manager.update_note', note_id = note.id) }}" id="note-form" method="POST">

                <label for="title" class="text-block _10button_spac">Note title</label>
                <input type="text" value="{{ note.title }}" class="text-field creatnew w-input" name="title" placeholder="" id="title"/>

                <label for="content" class="text-block _10button_spac">Content</label>
                <textarea placeholder="" id="content" name="content" class="text-field text-area w-input">{{ note.content }}</textarea>

                <input type="submit" value="Save Edit" data-wait="Please wait..." class="submit-button _20head_spacing w-button"/>
            </form>
        </div>
        <div class="_80px_height"></div>
    </section>
    </body>
{% endblock %}


