{% from 'macro/report_table.html' import report_table %}

<div style="margin-top: 20px"></div>

{% if semester %}
    {% set semesters = [
  {"id": "s1", "name": "Semester 1", "start_date": semester.first_semester_start_date},
  {"id": "s2", "name": "Semester 2", "start_date": semester.second_semester_start_date}
] %}

    {% set current_date_obj = datetime.strptime(current_date, "%Y-%m-%d").date() %}

    <div class="d-flex align-items-start report-container">
        {# Week Tab #}
        <div class="nav flex-column nav-pills me-3 report-tab" id="v-pills-tab" role="tablist"
             aria-orientation="vertical" style="width: 200px;">
            {% for semester_info in semesters %}
                {% set semester_start = datetime.strptime(semester_info.start_date, "%Y-%m-%d") %}
                <div class="accordion-item" style="border: none">
                    <div class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#{{ semester_info.id }}"
                                aria-expanded="true"
                                aria-controls="{{ semester_info.id }}">
                            {{ semester_info.name }}
                        </button>
                    </div>
                    <div id="{{ semester_info.id }}" class="accordion-collapse collapse show">
                        <div class="accordion-body" style="padding: unset; background-color: black">
                            {% for week in range(12) %}
                                {% set week_start = semester_start + timedelta(weeks=week) %}
                                {% set week_start_date = week_start.date() %}
                                {% set week_end_date = week_start_date + timedelta(weeks=1) %}

                                {# is current week #}
                                {% set is_active = current_date_obj >= week_start_date and current_date_obj < week_end_date %}

                                {# disable future week #}
                                {% set is_disabled = week_start_date > current_date_obj %}

                                <button class="nav-link {% if is_active %}active{% endif %} {% if is_disabled %}disabled-button{% endif %}"
                                        id="v-pills-{{ semester_info.id }}-week-{{ week + 1 }}-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#v-pills-{{ semester_info.id }}-week-{{ week + 1 }}"
                                        type="button"
                                        role="tab"
                                        aria-controls="v-pills-{{ semester_info.id }}-week-{{ week + 1 }}"
                                        aria-selected="{% if is_active %}true{% else %}false{% endif %}"
                                        data-date="{{ week_start.strftime('%Y-%m-%d') }}"
                                        {% if is_disabled %}disabled
                                        style="color: gray; cursor: not-allowed;"{% endif %}>
                                    Week {{ week + 1 }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {# Report Panel #}
        <div class="tab-content" id="v-pills-tabContent" style="width: 100%">
            {% for semester_info in semesters %}
                {% for week in range(12) %}
                    {% set week_start = datetime.strptime(semester_info.start_date, "%Y-%m-%d") + timedelta(weeks=week) %}
                    {% set week_end = week_start + timedelta(weeks=1) %}
                    {% set is_active = current_date >= week_start.strftime('%Y-%m-%d') and current_date < week_end.strftime('%Y-%m-%d') %}

                    {# "Semester 1" -> 1 #}
                    {% set semester_num = semester_info.name.split()[-1] | int %}

                    {# check is report existed #}
                    {% set report = reports.get((semester_num, week + 1)) %}

                    <div class="tab-pane fade {% if is_active %}show active{% endif %}"
                         id="v-pills-{{ semester_info.id }}-week-{{ week + 1 }}"
                         role="tabpanel"
                         aria-labelledby="v-pills-{{ semester_info.id }}-week-{{ week + 1 }}-tab">
                        {% if report %}
                        <div style="background-color:#a3cfbb; color: #fff; padding: 10px; border-radius: 0.375rem; margin-bottom: 10px;">
                            <svg t="1735716713350" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5130" width="22" height="22"><path d="M512 914.285714C734.176265 914.285714 914.285714 734.176265 914.285714 512 914.285714 289.823735 734.176265 109.714286 512 109.714286 289.823735 109.714286 109.714286 289.823735 109.714286 512 109.714286 734.176265 289.823735 914.285714 512 914.285714ZM297.44762 548.538807C314.115747 533.991055 373.957573 521.41293 392.745988 521.41293 399.693875 536.569179 445.283653 573.742576 445.283653 573.742576 445.283653 573.742576 522.616095 380.331774 726.55238 351.085714 626.118672 400.748145 543.136775 513.366307 493.705322 653.508805 409.743239 681.941067 399.693873 674.865518 399.693873 674.865518 399.693873 674.865518 334.075109 573.742579 297.44762 548.538807Z" fill="#0a3622" p-id="5131"></path></svg>
                            You completed the report this week!
                        </div>
                        {% else %}
                        <div style="background-color:#f8d7da; color: #58151c; padding: 10px; border-radius: 0.375rem; margin-bottom: 10px;">
                            <svg t="1735716870392" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7183" width="18" height="18"><path d="M512 0C229.205333 0 0 229.205333 0 512s229.205333 512 512 512 512-229.205333 512-512S794.794667 0 512 0z m0 796.458667A56.917333 56.917333 0 1 1 511.957333 682.666667 56.917333 56.917333 0 0 1 512 796.458667z m54.186667-227.797334h0.128a60.501333 60.501333 0 0 1-53.802667 55.893334c2.048 0.256 3.882667 1.152 5.973333 1.152h-11.818666c2.048 0 3.84-0.981333 5.845333-1.109334a59.093333 59.093333 0 0 1-53.162667-55.893333l-13.056-284.16a54.314667 54.314667 0 0 1 54.613334-57.045333h26.282666a52.992 52.992 0 0 1 54.186667 57.002666l-15.146667 284.16z" fill="#d81e06" p-id="7184"></path></svg>
                                You did not complete the report this week!
                        </div>
                        {% endif %}
                        <div style="width: 100%">
                            {{ report_table(
                            semester.graduation_year,
                            semester_num,
                            week + 1,
                            week_start.strftime('%Y-%m-%d'),
                            name,
                            selection.final_topic_supervisor_name,
                            selection.final_topic_name,
                            report=report
                        ) }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% else %}
    <p>Waiting for Start</p>
{% endif %}


{% block script %}
    <script>
        const weekTabs = document.querySelectorAll('.nav-link');
        weekTabs.forEach((tab) => {
            tab.addEventListener('click', function () {
                weekTabs.forEach(t => t.classList.remove('active'));
                tab.classList.add('active');
            });
        });
    </script>
{% endblock %}
