<!-- Modal 1-->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ url_for('static',filename='image/icon.png') }}" loading="lazy"
                     style="margin-right: 5px; width: 2.5rem; border-radius: 5px"/>
                <h1 class="modal-title fs-5" id="exampleModalLabel"
                    style="margin-top:0;font-style: italic;font-size:1.5rem !important;">Pickr</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-size: 18px">
                Are you sure to delete this topic?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-danger" data-bs-target="#secondConfirmModal" data-bs-toggle="modal">Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2-->
<div class="modal fade" id="secondConfirmModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="justify-content: start">
                <img src="{{ url_for('static',filename='image/icon.png') }}" loading="lazy"
                     style="margin-right: 5px; width: 2.5rem; border-radius: 5px"/>
                <h1 class="modal-title fs-5" id="exampleModalLabel"
                    style="margin-top:0;font-style: italic;font-size:1.5rem !important;">Pickr</h1>
            </div>
            <div class="modal-body" id="secondConfirmModal-body" style="font-size: 18px">

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>

<div class="_40px_height"></div>
<h2 class="third_title-2 accent">Supervisor Topics</h2>
<div class="_20px_height"></div>
<div class="form-block-2 w-form">
    <form id="sup-search-topic" name="sup-search-topic" method="GET" class="form-2">
        <input type="text" class="text-field topic_list manage w-input" name="sup-search-topic"
               placeholder="Topic name, Student name, Supervisor name"/>
        <input type="submit" value="Search" data-wait="Please wait..." class="submit-button w-button"/>
        <div class="div-block-4"></div>
        <a class="submit-button-2 w-button" id="sup-pre-page-topic"><</a>
        <div class="div-block-4"></div>
        <div id="sup-page-number-topic" class="page-info accent"> 1 / X</div>
        <div class="div-block-4"></div>
        <a class="submit-button-2 w-button" id="sup-last-page-topic">></a>
    </form>
</div>
<div class="_20px_height">
    <div id="no-results-message-sup-topic" class="hidden third_title accent not_found">No Topic
        found,
        try again.
        <div class="_20px_height"></div>
    </div>
    {% if topics %}
        {% for topic in topics %}
            <div id="w-node-manager-04"
                 class="w-layout-layout supervisor_result_item-2 _5row wf-layout-layout sup-topic-item"
                 style="grid-template-columns: 1fr 1fr 1fr 1fr"
            >
                <div class="w-layout-cell cell-11">
                    <div class="text-block-2">
                        <em class="italic-text-3"
                            id="topic-name">{{ topic.name }}</em>
                    </div>
                </div>
                <div class="w-layout-cell cell-8">
                    <div class="text-block-2 phone_button phone_leading"
                         id="supervisor-name">{{ topic.supervisor.first_name }} {{ topic.supervisor.last_name }}</div>
                </div>
                <div class="w-layout-cell cell-8">
                    <div class="text-block-2 phone_button phone_leading">{{ topic.get_selected_num_final() }}/{{ topic.quota }}</div>
                </div>
                <div class="w-layout-cell cell-15">
                    <a href="{{ url_for('manager.topic_detail', topic_id = topic.id) }}"
                       class="submit-button-2 w-button" style="margin-right: 10px">Check</a>
                    <a href="#" data-topic-id="{{ topic.id }}"
                       class="submit-button-2 delete_button w-button delete-topic"
                      >Delete</a>
{#                     data-bs-toggle="modal" data-bs-target="#confirmModal"#}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="third_title accent ">No topic found, try again.</div>
        <div class="_20px_height"></div>
    {% endif %}
    <div class="_40px_height"></div>
    <a href="#" class="submit-button-2 w-button">+ Add Topic</a>
    <a href="{{ url_for('manager.get_template_topic') }}" class="submit-button-2 w-button">↓ Get Excel
        Template</a>
    <form id="topic-import" action="{{ url_for('manager.import_topics') }}" method="POST"
          enctype="multipart/form-data" style="display: inline;">
        <label for="file-upload-topic" class="submit-button-2 w-button">↑ Import Topics From Excel
            <input id="file-upload-topic" type="file" name="file" accept=".xlsx, .xls"
                   onchange="this.form.submit()" style="display: none;">
        </label>
    </form>
</div>

<script>
    $(document).ready(function () {
        var pageSize = 10;
        var currentPage = 1;
        var $sup = $('.sup-topic-item');
        var visibleSupTopics = $sup;
        var pageCount = updatePageCount();

        function updatePageCount() {
            // Update the page count
            return Math.ceil(visibleSupTopics.length / pageSize);
        }

        function updateButtons() {
            // Update the buttons
            $('#sup-pre-page-topic').toggleClass('disabled', currentPage === 1);
            $('#sup-last-page-topic').toggleClass('disabled', currentPage === pageCount);
            $('#sup-page-number-topic').text(currentPage + ' / ' + pageCount);
        }

        function toggleNoResultsMessage(show) {
            // Used to show or hide the "No results found" message
            if (show) {
                $('#no-results-message-sup-topic').removeClass('hidden');
            } else {
                $('#no-results-message-sup-topic').addClass('hidden');
            }
        }

        function renderPage() {
            // Render the current page
            $sup.addClass('hidden').removeClass('visible');
            var start = (currentPage - 1) * pageSize;
            visibleSupTopics.slice(start, start + pageSize).removeClass('hidden').addClass('visible');
            updateButtons();
            toggleNoResultsMessage(visibleSupTopics.length === 0);
        }

        $('#sup-pre-page-topic').click(function () {
            if (currentPage > 1) {
                currentPage--;
                renderPage();
            }
        });

        $('#sup-last-page-topic').click(function () {
            if (currentPage < pageCount) {
                currentPage++;
                renderPage();
            }
        });

        $('#sup-search-topic').submit(function (e) {
            e.preventDefault();
            const searchTerm = $('input[name="sup-search-topic"]').val().toLowerCase();
            visibleSupTopics = $sup.filter(function () {
                var topic = $(this);
                var name = topic.find('#topic-name').text().toLowerCase();
                var studentName = topic.find('#student-name').text().toLowerCase();
                var supervisorName = topic.find('#supervisor-name').text().toLowerCase();
                return !searchTerm || name.includes(searchTerm) || studentName.includes(searchTerm) || supervisorName.includes(searchTerm);
            });
            currentPage = 1;
            pageCount = updatePageCount();
            renderPage();
        });

        renderPage();


        let topicId;
        let element;
        $('.delete-topic').click(function (e) {
            e.preventDefault()
            topicId = $(this).data('topic-id');
            element = $(this).closest('.sup-topic-item')
            $('#confirmModal').modal('show')
        })
        $('#confirmModal .btn-danger').on('click', function() {
            $('#confirmModal').modal('hide');
            $.ajax({
                url: `/manager/delete_topic/${topicId}`,
                type: 'GET',
                success: function(response) {
                    if (response.success) {
                        $('#secondConfirmModal-body').text(response.message);
                        $('#secondConfirmModal').modal('show');
                        element.remove()
                    } else {
                        $('#secondConfirmModal-body').text(response.message);
                        $('#secondConfirmModal').modal('show');
                    }
                },
                error: function() {
                    $('#secondConfirmModal-body').text(response.message);
                    $('#secondConfirmModal').modal('show');
                }
            });
        });
        $('#secondConfirmModal .btn-secondary').on('click', function() {
            $('#secondConfirmModal').modal('hide');
        });

    });
</script>


