<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/image/icon.png" type="image/png">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://assets-global.website-files.com/6548e0e272296b4160532c3b/css/pickr-fb94fc.webflow.12a7e7bec.css"
          rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {#    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">#}
    <title>{% block title %}{% endblock %}</title>
    <script>{% block script %}{% endblock %}</script>
    <style>{% block style %}{% endblock %}</style>
</head>

<body>

<section class="head">
    <a href="/" aria-current="page" class="w-inline-block w--current">
        <img
                src="{{ url_for('static',filename='image/head_logo.svg') }}"
                loading="lazy" width="155" alt="" class="image"/>
    </a>
    <a href="{{ url_for('my_pickr') }}" class="login">My Pickr<em>↗</em></a>
</section>

{% block content %}{% endblock %}

<section class="footer">
    <div class="fourth_title">Pickr - CDUT &amp; OBU Collaborative Education Topic Management System</div>
    <div class="text-block accent">Develop by Chengxin Zhao</div>
    <div class="paragraph i _10_head">PROJECT STAR FROM - Nov,7 2023</div>
</section>

</body>
</html>