<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static',filename='image/icon.png') }}" type="image/png">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <script src="https://lib.baomitu.com/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='js/star.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/star.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">

    <title>{% block title %}{% endblock %}</title>
    <script>{% block script %}{% endblock %}</script>
    <style>{% block style %}{% endblock %}</style>
</head>
<body>
<section class="head">
    <a href="{{ url_for('homepage') }}" aria-current="page" class="w-inline-block w--current">
        <img src="{{ url_for('static',filename='image/head_logo.svg') }}" loading="lazy" width="155" alt=""
             class="image"/>
    </a>
    <a href="{{ url_for('my_pickr') }}" class="login">My Pickr<em>↗</em></a>
</section>

{% block content %}{% endblock %}

<section class="footer">
    <div class="fourth_title">Pickr - CDUT &amp; OBU Collaborative Education Topic Management System</div>
    <div class="text-block accent flex-container">
        Develop by Chengxin Zhao

    </div>
    <div class="paragraph i _10_head">
        PROJECT START FROM - Nov,7 2023
        <div class="social-icons">
            <a href="mailto:zchenxing2002@gmail.com" class="w-inline-block">
                <img src="{{ url_for('static',filename='image/email_icon.svg') }}" loading="lazy" width="20"
                     alt="Send Email" class="footer-icon"/>
            </a>

            <a href="https://github.com/ChesterZhao" aria-current="page" class="w-inline-block w--current">
                <img src="{{ url_for('static',filename='image/github_icon.svg') }}" loading="lazy" width="20" alt=""
                     class="footer-icon"/>
            </a>
            <a href="https://chengxin.design" aria-current="page" class="w-inline-block w--current">
                <img src="{{ url_for('static',filename='image/web_icon.svg') }}" loading="lazy" width="20" alt=""
                     class="footer-icon"/>
            </a>
        </div>
    </div>
</section>
</body>
<style>
    .paragraph.i._10_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-icon {
        margin-left: 10px;
    }

    @media (max-width: 768px) {
        .social-icons {
            display: none;
        }
    }
</style>
</html>