{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
    <body>
    <section class="page_hearder"><h1 class="first_title">Edit Student</h1>
        <p class="paragraph">In this page,you can add a new student into the system.</p></section>
    <section>
        <div class="_20px_height"></div>
        <div class="w-form">
            <form action="{{ url_for('update_student', student_id = student.id) }}" id="new_student_form" method="POST">
                <label for="chinese_name" class="text-block _10button_spac">Chinese Name</label>
                <input type="text" class="text-field creatnew w-input" name="chinese_name" id="chinese_name" value="{{ student.chinese_name }}"/>
                <label for="english_name" class="text-block _10button_spac">English Name</label>
                <input type="text" class="text-field creatnew w-input" name="english_name" id="english_name" value="{{ student.english_name }}"/>
                <label for="class_number" class="text-block _10button_spac">Class Number</label>
                <input type="text" class="text-field creatnew w-input" name="class_number" id="class_number" value="{{ student.class_number }}"/>
                <label for="email" class="text-block _10button_spac">E-mail</label>
                <input type="text" class="text-field creatnew w-input" name="email" id="email" value="{{ student.email }}"/>
                <label for="username" class="text-block _10button_spac">Username</label>
                <input type="text" class="text-field creatnew w-input" name="username" id="username" value="{{ student.user_name }}"/>
                <label for="password" class="text-block _10button_spac">Password</label>
                <input type="text" class="text-field creatnew w-input" name="password" id="password" value="{{ student.password }}"/>
                <input type="submit" value="Save Edit" data-wait="Please wait..." class="submit-button _20head_spacing w-button"/>
            </form>
        </div>
        <div class="_80px_height"></div>
    </section>
    </body>
{% endblock %}


