{% extends 'base.html' %}

{% block title %}Pickr | Home{% endblock %}

{% block content %}
    <body class="body">
    <section class="section" style="background: transparent">
        <div class="w-layout-blockcontainer container w-container"><h1 class="big_wite_heeding">Search And Find</h1>
            <h1 class="big_wite_heeding accent">Your Supervisor &amp; Topic</h1>
            <h1 class="big_wite_heeding">On Pickr!</h1>
            <div class="w-layout-hflex flex-block">
                <a href="{{ url_for('topic_list') }}" class="link link_accent"><em>Topic List↗</em></a>
                <div class="_60px_width"></div>
                <a href="{{ url_for('tutorial') }}" class="link">Tutorial<em class="italic-text">↗</em></a>
                <div class="_60px_width"></div>
                <a href="https://pickr-team.github.io/Pickr-Support/" class="link">Support Document<em class="italic-text">↗</em></a>
            </div>
        </div>
        <div class="w-layout-blockcontainer container-2 w-container">
            <div class="w-layout-vflex system-info_block">
                <h1 class="se">System<i>.info()</i></h1>
                <div class="w-layout-hflex">
                    <div class="w-layout-vflex flex-block-3">
                        <h1 class="big_title accent">{{ num_of_supervisors }}</h1>
                        <p>Supervisor</p></div>
                    <div class="_60px_width"></div>
                    <div class="w-layout-vflex flex-block-3">
                        <h1 class="big_title accent">{{ num_of_topics }}</h1>
                        <p>Topic</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
{% endblock %}


