<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/image/icon.png" type="image/png">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://assets-global.website-files.com/6548e0e272296b4160532c3b/css/pickr-fb94fc.webflow.12a7e7bec.css" rel="stylesheet" type="text/css"/>
    {#    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/star.css') }}">
    <script src="../static/js/star.js"></script>
    <title>Login</title>
</head>
<body class="body-2">
<canvas id='c'></canvas>
<div class="w-layout-blockcontainer container-4 w-container"><h1 class="second_title center accent">Welcome to Pickr</h1>
    <div class="_20px_height"></div>
    <div class="text-block center">The user name &amp; password is as same as your student website</div>

    <div class="form-block w-form">
        <form action="{{ url_for('login') }}" method="POST" id="login_form" class="form">
            <div class="_20px_height"></div>

            {% if message %}
                <p><strong>{{ message }}</strong></p>
            {% endif %}

            <label for="user_name" class="text-block login_text">User name</label>
            <input type="text" class="text-field w-input" name="user_name" required="required"/>

            <label for="password" class="text-block login_text">Password</label>
            <input type="password" class="text-field w-input" name="password" data-name="password" required="required"/>
            <div class="_40px_height"></div>
            <input type="submit" value="Login" data-wait="Please wait..." class="submit-button w-button"/>
        </form>
    </div>
</div>
</body>

</html>