{% extends 'base.html' %}

{% block title %}Student{% endblock %}

{% block content %}
    <style>
        .disabled-color {
            background-color: #a8a8a8 !important;
            color: #000000;
        }
    </style>
    <body>


    <section class="page_hearder">
        <h1 class="first_title">Hi,{{ name }}!</h1>
        <div class="_20px_height"></div>
        <a href="{{ url_for('logout') }}" class="small_link accent"><em>Logout↗</em></a>
        <div class="_20px_height"></div>
        <p class="paragraph">In this page,you can full the application form and check your topic apply result.</p>
    </section>


    <section>

        {% if selection is none or selection.status == 0 %}
            <div class="_40px_height"></div>

            <div class="text-block back_space">
                Topic selection needs to be filled in the box and verified to be saved.
                Please upload the form at the designated submission time. The order of
                topic selection is determined by the time of submission.
            </div>
            <div class="_40px_height"></div>

            <h2 class="third_title accent">Topic Application Form</h2>

            <div class="_20px_height"></div>

            <div class="w-form" id="check_form">
                <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get">
                    <label class="w-checkbox checkbox-field">
                        <input type="checkbox" id="customTopicCheckbox" name="checkbox"
                               class="w-checkbox-input checkbox"/>
                        <span class="text-block w-form-label" for="customTopicCheckbox"
                              id="check_box_note">custom topic</span>
                        <span class="checkbox-custom"></span>
                    </label>
                </form>
                <div class="_20px_height"></div>
                <div class="paragraph accent">
                    Please note that the custom topic needs to be reviewed by the manager, and your supervisor may
                    be modified.
                </div>
            </div>

            <div id="customTopicDiv" class="w-form custom_topic">
                <form id="custom_form" method="get" class="student_submit_form">
                    <div class="w-layout-vflex custom-topic_fild">


                        <label for="field-5" class="text-block _10button_spac">Topic Name</label>
                        <input type="text" class="text-field_topic w-input" placeholder=""
                               id="custom_topic_name" required=""/>
                        <div class="_20px_height"></div>

                        <label for="supervisor_id" class="text-block _10button_spac">Supervisor</label>
                        <select id="supervisor_id" required="required" class="text-field creatnew w-select">
                            <option value="">Select one...</option>
                            {% for supervisor in supervisors %}
                                <option value="{{ supervisor.id }}">{{ supervisor.first_name }} {{ supervisor.last_name }}</option>
                            {% endfor %}
                        </select>

                        <label for="type_id" class="text-block _10button_spac">Type</label>
                        <select id="type_id" required="required" class="text-field creatnew w-select">
                            <option value="">Select one...</option>
                            {% for type in types %}
                                <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>

                        <label for="field-5" class="text-block _10button_spac">Description</label>
                        <textarea placeholder="" maxlength="5000" id="field-2" name="field-2" data-name="Field 2"
                                  class="text-field text-area w-input"></textarea>

                        <div class="_20px_height"></div>
                        <input id="customFormSubmit" type="submit" value="Save" data-wait="Please wait..."
                               class="submit-button w-button"/>

                    </div>
                </form>
            </div>

            <div id="inlimiteContainerDiv" class="w-layout-blockcontainer inlimite_container w-container">

                <div class="w-form">
                    <div class="text-block _10button_spac">Choose 1</div>
                    <form id="choose1_form" method="POST" class="student_submit_form">
                        <input type="hidden" name="choice_number" value="1"/>
                        <input type="text" class="text-field_topic w-input" name="choose1" placeholder="Topic ID"
                               required="required"/>
                        <input type="submit" value="Save" data-wait="Please wait..." class="submit-button w-button"/>
                    </form>
                </div>

                <div class="w-form">
                    <div class="text-block _10button_spac">Choose 2</div>
                    <form id="choose2_form" method="POST" class="student_submit_form">
                        <input type="hidden" name="choice_number" value="2"/>
                        <input type="text" class="text-field_topic w-input" name="choose2" placeholder="Topic ID"
                               required="required"/>
                        <input type="submit" value="Save" data-wait="Please wait..." class="submit-button w-button"/>
                    </form>
                </div>

                <div class="w-form">
                    <div class="text-block _10button_spac">Choose 3</div>
                    <form id="choose3_form" method="POST" class="student_submit_form">
                        <input type="hidden" name="choice_number" value="3"/>
                        <input type="text" class="text-field_topic w-input" name="choose3" placeholder="Topic ID"
                               required="required"/>
                        <input type="submit" value="Save" data-wait="Please wait..." class="submit-button w-button"/>
                    </form>
                </div>
            </div>

            {#Submit button#}
            <a href="#" class="submit-button _20head_spacing w-button">Submit Application</a>

        {% endif %}

        {#Result#}
        {% if selection.status == 1 %}
            <div class="_40px_height"></div>
            <h2 class="third_title accent">Result</h2>
            <div id="w-node-c01e4d8c-185e-4dae-307e-7a9c367196a1-6e227e00"
                 class="w-layout-layout tutorial_timeline_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">◇ Choose 1</em>
                    </div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">{{ selection.first_topic_name }} <em class="accent">(Waiting for
                            processing)</em></em>
                    </div>
                </div>
            </div>
            <div id="w-node-c01e4d8c-185e-4dae-307e-7a9c367196a1-6e227e00"
                 class="w-layout-layout tutorial_timeline_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">◇ Choose 2</em>
                    </div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">{{ selection.second_topic_name }} <em class="accent">(Waiting for
                            processing)</em></em>
                    </div>
                </div>
            </div>
            <div id="w-node-a0356be8-a343-2772-d9df-42385edb7f34-6e227e00"
                 class="w-layout-layout tutorial_timeline_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block">
                        <em class="italic-text-3">◇ Choose 3</em>
                    </div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">{{ selection.third_topic_name }} <em class="accent">(Waiting for
                            processing)</em></em>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if selection.status == 2 %}
            <div class="_40px_height"></div>
            <h2 class="third_title accent">Waiting for manager verify your custom topic</h2>
        {% endif %}

        {% if selection.status == 3 %}
            <div class="_40px_height"></div>
            <h2 class="third_title accent">Result</h2>
            <div id="w-node-dee0e41c-a026-7fcd-983f-4910eb77808f-12a95ea8"
                 class="w-layout-layout course_list_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">Your custom topic name</em>
                    </div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">{{ selection.first_topic_name }}</em>
                    </div>
                </div>
            </div>
            <div id="w-node-dee0e41c-a026-7fcd-983f-4910eb77808f-12a95ea8"
                 class="w-layout-layout course_list_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">Topic type</em>
                    </div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">{{ selection.custom_type_name }}</em>
                    </div>
                </div>
            </div>
            <div class="_20px_height"></div>
            <h2 class="third_title accent">Topic description</h2>
            <div class="text-block back_space">{{ selection.custom_description }}</div>
            <div class="_20px_height"></div>
            <h2 class="third_title accent">Your tour info</h2>
            <div id="w-node-dee0e41c-a026-7fcd-983f-4910eb77808f-12a95ea8"
                 class="w-layout-layout course_list_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block"><em>◇</em> Name</div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">{{ selection.final_topic_supervisor_name }}</div>
                </div>
            </div>
            <div id="w-node-dee0e41c-a026-7fcd-983f-4910eb77808f-12a95ea8"
                 class="w-layout-layout course_list_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block"><em>◇</em> Tutor E-mail</div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">{{ selection.final_topic_supervisor_email }}</div>
                </div>
            </div>
        {% endif %}

        {% if selection.status == 4 %}
            <div class="_40px_height"></div>
            <h2 class="third_title accent">Result</h2>
            <div id="w-node-dee0e41c-a026-7fcd-983f-4910eb77808f-12a95ea8"
                 class="w-layout-layout course_list_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">◇ Choose 1</em>
                    </div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">{{ selection.first_topic_name }}
                            {% if selection.final_topic_name == selection.first_topic_name %}
                                <em style="color: green">(Success)</em>
                            {% else %}
                                <em style="color: red">(Rejected)</em>
                            {% endif %}
                        </em>
                    </div>
                </div>
            </div>
            <div id="w-node-dee0e41c-a026-7fcd-983f-4910eb77808f-12a95ea8"
                 class="w-layout-layout course_list_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">◇ Choose 2</em>
                    </div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">{{ selection.second_topic_name }}
                            {% if selection.final_topic_name == selection.second_topic_name %}
                                <em style="color: green">(Success)</em>
                            {% else %}
                                <em style="color: red">(Rejected)</em>
                            {% endif %}
                        </em>
                    </div>
                </div>
            </div>
            <div id="w-node-dee0e41c-a026-7fcd-983f-4910eb77808f-12a95ea8"
                 class="w-layout-layout course_list_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block">
                        <em class="italic-text-3">◇ Choose 3</em>
                    </div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">
                        <em class="italic-text">{{ selection.third_topic_name }}
                            {% if selection.final_topic_name == selection.third_topic_name %}
                                <em style="color: green">(Success)</em>
                            {% else %}
                                <em style="color: red">(Rejected)</em>
                            {% endif %}
                        </em>
                    </div>
                </div>
            </div>
            <div class="_20px_height"></div>
            <h2 class="third_title accent">Your Topic</h2>
            <div id="w-node-dee0e41c-a026-7fcd-983f-4910eb77808f-12a95ea8"
                 class="w-layout-layout course_list_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block"><em>◇</em> Tutor</div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">{{ selection.final_topic_supervisor_name }}</div>
                </div>
            </div>
            <div id="w-node-dee0e41c-a026-7fcd-983f-4910eb77808f-12a95ea8"
                 class="w-layout-layout course_list_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block"><em>◇</em> Tutor E-mail</div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">{{ selection.final_topic_supervisor_email }}</div>
                </div>
            </div>
            <div id="w-node-_4b3765c4-aa80-156f-7bee-22f97672b60c-12a95ea8"
                 class="w-layout-layout course_list_item wf-layout-layout">
                <div class="w-layout-cell">
                    <div class="text-block"><em>◇</em> Type</div>
                </div>
                <div class="w-layout-cell">
                    <div class="text-block italic-text">{{ selection.final_type_name }}</div>
                </div>
            </div>
        {% endif %}

        {% if selection.status == 5 %}
            <div class="_40px_height"></div>
            <h2 class="third_title accent">Fail</h2>
        {% endif %}
        <div class="_40px_height"></div>
    </section>
    <script>
        function toggleDivs() {
            var checkbox = document.getElementById('customTopicCheckbox');
            var customDiv = document.getElementById('customTopicDiv');
            var inlimiteDiv = document.getElementById('inlimiteContainerDiv');
            var check_form = document.getElementById('check_form');

            if ('{{ selection.if_custom }}' === 'True') {
                check_form.style.display = 'none';
                customDiv.style.display = 'block';
                inlimiteDiv.style.display = 'none';
            } else if (checkbox.checked) {
                customDiv.style.display = 'block';
                inlimiteDiv.style.display = 'none';
            } else if ('{{ selection.if_custom }}' === 'False') {
                customDiv.style.display = 'none';
                inlimiteDiv.style.display = 'block';
            } else {
                customDiv.style.display = 'none';
                inlimiteDiv.style.display = 'block';
            }
        }

        document.getElementById('customTopicCheckbox').addEventListener('change', toggleDivs);
        document.addEventListener('DOMContentLoaded', toggleDivs);

        function refreshPageContent() {
            $('#inlimiteContainerDiv').load('/student #inlimiteContainerDiv');
        }

        // Display existing selection
        $(document).ready(function () {
            if ('{{ selection.if_custom }}' === 'False') {
                if ('{{ selection.first_topic_name }}') {
                    $('#choose1_form .text-field_topic').val('{{ selection.first_topic_name }}').prop('disabled', true).addClass('disabled-color');
                    $('#choose1_form .submit-button').val('Reset');
                }
                if ('{{ selection.second_topic_name }}') {
                    $('#choose2_form .text-field_topic').val('{{ selection.second_topic_name }}').prop('disabled', true).addClass('disabled-color');
                    $('#choose2_form .submit-button').val('Reset');
                }
                if ('{{ selection.third_topic_name }}') {
                    $('#choose3_form .text-field_topic').val('{{ selection.third_topic_name }}').prop('disabled', true).addClass('disabled-color');
                    $('#choose3_form .submit-button').val('Reset');
                }
            } else {
                if ('{{ selection.if_custom }}' === 'True') {
                    $('#customTopicDiv #custom_topic_name').val('{{ selection.first_topic_name }}').prop('disabled', true).addClass('disabled-color');
                    $('#supervisor_id').val('{{ selection.custom_supervisor_id }}').prop('disabled', true).addClass('disabled-color');
                    $('#type_id').val('{{ selection.custom_type_id }}').prop('disabled', true).addClass('disabled-color');
                    $('#customTopicDiv #field-2').val('{{ selection.custom_description }}').prop('disabled', true).addClass('disabled-color');
                    $('#customFormSubmit').val('Reset');
                }
            }


            // submit application
            $('.student_submit_form').submit(function (e) {
                e.preventDefault();
                var formId = $(this).attr('id');
                var choiceNumber = formId.replace('choose', '').replace('_form', '');
                var topicId = $(this).find('.text-field_topic').val();
                var isReset = $(this).find('.submit-button').val() === 'Reset';
                console.log(isReset)

                // if reset
                if (isReset) {
                    resetSelection(formId, choiceNumber);
                    return;
                }

                // reset selection
                function resetSelection(formId, choiceNumber) {
                    $.ajax({
                        url: '/update_selection',
                        method: 'POST',
                        data: {choice_number: choiceNumber, reset: 'true'},
                        success: function (response) {
                            var data = JSON.parse(response);
                            if (data.success) {
                                $('#' + formId + ' .text-field_topic').val('');
                                $('#' + formId + ' .submit-button').val('Save');
                            }
                            location.reload();
                        }
                    });
                }

                // submit
                $.ajax({
                    url: '/update_selection',
                    method: 'POST',
                    data: {topic_id: topicId, choice_number: choiceNumber},
                    success: function (response) {
                        console.log(response)
                        var data = JSON.parse(response);
                        if (data.success) {
                            console.log('success')
                            if (data.reset) {
                                $('#' + formId + ' .text-field_topic').val('');
                                $('#' + formId + ' .submit-button').val('Save');
                                location.reload();
                            } else {
                                $('#' + formId + ' .text-field_topic').val(response.topic_name);
                                $('#' + formId + ' .submit-button').val('Reset');
                                location.reload();
                            }
                        } else {
                            alert(data.error)
                        }
                    }
                });
            });

            // submit custom topic
            $('#customFormSubmit').click(function (e) {
                e.preventDefault();
                var supervisorId = $(this).parent().find('#supervisor_id').val();
                var typeId = $(this).parent().find('#type_id').val();
                var description = $(this).parent().find('#field-2').val();
                var topicName = $(this).parent().find('#custom_topic_name').val();
                var isReset = $('#customFormSubmit').val() === 'Reset';

                // if reset
                if (isReset) {
                    console.log('reset')
                    resetCustomTopic();
                    return;
                }

                function resetCustomTopic() {
                    console.log('reset')
                    $.ajax({
                        url: '/update_custom_topic',
                        method: 'POST',
                        data: {reset: 'true'},
                        success: function (response) {
                            var data = JSON.parse(response);
                            if (data.success) {
                                $('#custom_form #custom_topic_name').val('');
                                $('#supervisor_id').val('');
                                $('#type_id').val('');
                                $('#custom_form #field-2').val('');
                                $('#customFormSubmit').val('Save');
                            }
                            location.reload();
                        }
                    });
                }

                // submit
                $.ajax({
                    url: '/update_custom_topic',
                    method: 'POST',
                    data: {
                        supervisor_id: supervisorId,
                        type_id: typeId,
                        description: description,
                        topic_name: topicName
                    },
                    success: function (response) {
                        console.log(response)
                        var data = JSON.parse(response);
                        if (data.success) {
                            console.log('success')
                            if (data.reset) {
                                $('#custom_form #custom_topic_name').val('');
                                $('#supervisor_id').val('');
                                $('#type_id').val('');
                                $('#custom_form #field-2').val('');
                                $('#customFormSubmit').val('Save');
                                location.reload();
                            } else {
                                $('#customTopicDiv #custom_topic_name').val('{{ selection.first_topic_name }}');
                                $('#supervisor_id').val('{{ selection.custom_supervisor_id }}');
                                $('#type_id').val('{{ selection.custom_type_id }}');
                                $('#customTopicDiv #field-2').val('{{ selection.custom_description }}');
                                $('#customFormSubmit').val('Reset');
                                location.reload();
                            }
                        } else {
                            alert(data.error)
                        }
                    }
                });
            });
        });

    </script>
    </body>
{% endblock %}


