{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
    <body>
    <section class="page_hearder"><h1 class="first_title">Chester&#x27;s Status</h1>
        <p class="paragraph">In this page,you can add a new student into the system.</p></section>
    <section>
        <div class="_20px_height"></div>
        <div class="_40px_height">
            <div class="third_title accent">Name</div>
            <div class="_20px_height"></div>
            <div class="fourth_title">Chengxin Zhao (赵程鑫)</div>
        </div>
        <div class="_30px_height">
            <div class="third_title accent">Class</div>
            <div class="_20px_height"></div>
            <div class="fourth_title">L6S3</div>
        </div>
        <div class="_30px_height">
            <div class="third_title accent">Status</div>
            <div class="_20px_height"></div>
            <div class="fourth_title">Waiting for Check</div>
        </div>
        <div class="_30px_height">
            <div class="third_title accent">Choose 1</div>
            <div class="_20px_height"></div>
            <div class="fourth_title">xxxx</div>
        </div>
        <div class="_30px_height">
            <div class="third_title accent">Choose 2</div>
            <div class="_20px_height"></div>
            <div class="fourth_title">xxxx</div>
        </div>
        <div class="_30px_height">
            <div class="third_title accent">Choose 3</div>
            <div class="_20px_height"></div>
            <div class="fourth_title">xxxx</div>
        </div>
        <div class="_30px_height">
            <div class="third_title accent">Final Topic</div>
            <div class="_20px_height"></div>
            <div class="fourth_title">xxxx</div>
        </div>
        <div class="_80px_height"></div>
    </section>
    </body>
{% endblock %}