{% extends 'base.html' %}

{% block title %}Supervisor Info{% endblock %}

{% block content %}
    <body>
    <section class="page_hearder">
        <h1 class="first_title">{{ supervisor.first_name }} {{ supervisor.last_name }}&#x27;s Info</h1>
    </section>
    <section>
        <div class="_20px_height"></div>
        <div class="_40px_height">
            <div class="third_title accent">Name</div>
            <div class="_20px_height"></div>
            <div class="fourth_title">{{ supervisor.first_name }} {{ supervisor.last_name }}</div>
        </div>
        <div class="_30px_height">
            <div class="third_title accent">Email</div>
            <div class="_20px_height"></div>
            <div class="fourth_title">{{ supervisor.email }}</div>
        </div>
        <div class="_30px_height">
            <div class="third_title accent">Position status</div>
            <div class="_20px_height"></div>
            <div class="fourth_title">{{ supervisor.get_not_custom_topic_num()}}/{{ supervisor.position }} ({{ supervisor.get_total_final_selections() }} students in {{ supervisor.first_name }}'s team)</div>
        </div>
        <div class="_30px_height">
            <div class="third_title accent">{{ supervisor.first_name }} {{ supervisor.last_name }}&#x27;s topics</div>
            <div class="_20px_height"></div>

        </div>
        <section class="_20header_section" id="topic-section">
            {% for topic in topics %}
                    <a href="{{ url_for('topic_detail', topic_id=topic.id ) }}" class="link-block w-inline-block"
                       data-topic-id="{{ topic.id }}"
                       data-type-id="{{ topic.type_id }}" data-supervisor-id="{{ topic.supervisor_id }}">
                        <div class="w-layout-hflex flex-block-5">
                            <div class="w-layout-vflex flex-block-8">
                                <h1 class="third_title no_head_spacing accent no_button_spacing">{{ topic.name }}{% if topic.is_custom == 1 %} (Custom){% endif %}</h1>
                                <div class="text-block">By {{ topic.get_supervisor_name() }}</div>
                                <div class="text-block _10head_spacing">{{ topic.get_type_name() }}</div>
                                <div class="w-layout-hflex">
                                    <div class="text-block _10head_spacing _10button_spacing">{{ topic.get_selected_num_final() }}/{{ topic.quota }} Positions
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="topic_list_item_para description description-{{ topic.id }}">{{ topic.description }}</p>
                    </a>
            {% endfor %}
            <script src="../static/js/topic_list.js"></script>
            <script>
                {% for topic in topics %}
                    truncateText('.description-{{ topic.id }}', 500);
                {% endfor %}
            </script>
        </section>
    </section>
    </body>
{% endblock %}