{% extends 'base.html' %}

{% block title %}Pickr | Topic List{% endblock %}

{% block content %}'
    <style>
        .hidden {
            display: none;
        }

        .not_found {
            margin-bottom: 40px;
            margin-top: 40px;
        }
    </style>
    <body class="body">
    <!-- Page header-->
    <section class="page_hearder"><h1 class="first_title">Topic List</h1>
        <p class="paragraph">Welcome to the Topic List page, where you can find all the topics you need. You can also
            use the filters to select your favorite topics.</p>
    </section>

    <!--by type-->
    <div id="w-node-deabcae5-0c7b-6d86-d808-302357e4ece1-cef70243"
         class="w-layout-layout topic_filter_item wf-layout-layout">
        <div class="w-layout-cell cell">
            <div class="text-block accent _10button">|&gt; By Type</div>
        </div>
        <div class="w-layout-cell cell-3">
            <div class="w-layout-hflex flex-block-7">
                {% for type in types %}
                    <a href="#" id="{{ type.id }}" data-id="{{ type.id }}"
                       class="small_link span_40px_back type_link">{{ type.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--by supervisor-->
    <div id="w-node-bf361100-bd21-d84e-edaf-9ad10012b7e3-cef70243"
         class="w-layout-layout topic_filter_item wf-layout-layout">
        <div class="w-layout-cell cell">
            <div class="text-block accent _10button">|&gt; By Supervisor</div>
        </div>
        <div class="w-layout-cell cell-4">
            <div class="w-layout-hflex flex-block-7">
                {% for supervisor in supervisors %}
                    {% if supervisor.is_admin!=true %}
                        <a href="#" id="{{ supervisor.id }}" data-id="{{ supervisor.id }}"
                       class="small_link span_40px_back supervisor_link">{{ supervisor.first_name }} {{ supervisor.last_name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Search-->
    <div id="w-node-_6d4d9fb8-d384-6491-34c1-e695e63ceb13-cef70243"
         class="w-layout-layout topic_filter_item wf-layout-layout">
        <div class="w-layout-cell cell">
            <div class="text-block accent _10button">|&gt; Search Topic</div>
        </div>
        <div class="w-layout-cell cell-4">
            <div class="form-block-2 w-form">
                <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form-2"
                      data-wf-page-id="65498ce5843a555ecef70243"
                      data-wf-element-id="3a626929-daeb-5c21-659b-ac833b7617b9">
                    <input type="text" class="text-field topic_list w-input" maxlength="256" name="name"
                           data-name="Name" placeholder="Topic ID or Topic Name" id="name"/>
{#                    <input id="reset" type="submit" value="Reset" data-wait="Please wait..."#}
{#                           class="submit-button w-button"/>#}
                </form>
            </div>
        </div>
    </div>

    <div id="no-results-message" class="hidden third_title accent not_found">No topic found, try again.</div>

    <section class="_20header_section" id="topic-section">
        {% for topic in topics %}
            {% if (topic.is_custom == 0) and (topic.quota - topic.get_selected_num_final() != 0) %}
                <a href="{{ url_for('topic_detail', topic_id=topic.id ) }}" class="link-block w-inline-block"
                   data-topic-id="{{ topic.id }}"
                   data-type-id="{{ topic.type_id }}" data-supervisor-id="{{ topic.supervisor_id }}">
                    <div class="w-layout-hflex flex-block-5">
                        <div class="w-layout-vflex flex-block-8">
                            <h1 class="third_title no_head_spacing accent no_button_spacing">{{ topic.name }}</h1>
                            <div class="text-block">By {{ topic.get_supervisor_name() }}</div>
                            <div class="text-block _10head_spacing">{{ topic.get_type_name() }}</div>
                            <div class="w-layout-hflex">
                                <div class="text-block _10head_spacing _10button_spacing">{{ topic.quota - topic.get_selected_num_final() }}
                                    Positions
                                </div>
                                <div class="text-block _10head_spacing _10button_spacing accent tipic_item_candidate">
                                    ({{ topic.get_selected_num() }} other candidates)
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="topic_list_item_para description description-{{ topic.id }}">{{ topic.description }}</p>
                </a>
            {% endif %}
        {% endfor %}
        <script>
            // Truncate text
            function truncateText(selector, maxLength) {
                const elements = document.querySelectorAll(selector);
                elements.forEach(function (element) {
                    let truncated = element.innerText;
                    if (truncated.length > maxLength) {
                        truncated = truncated.substring(0, maxLength) + '...';
                    }
                    element.innerText = truncated;
                });
            }

            $(document).ready(function () {
                // Clear other filters besides the current one
                function clearOtherFilters(currentFilter) {
                    if (currentFilter !== 'type') {
                        $('.type_link').removeClass('accent');
                    }
                    if (currentFilter !== 'supervisor') {
                        $('.supervisor_link').removeClass('accent');
                    }
                    if (currentFilter !== 'search') {
                        $('.topic_list').val('');
                    }
                }


                var filterConditions = {typeId: [], supervisorId: [], topicId: []};

                function handleTopicFilter() {
                    let selectedTopicsNumber = 0;
                    let topics = $('#topic-section').children();
                    topics.each(function () {
                        let show = true;
                        for (let filterCategory in filterConditions) {
                            if (filterConditions[filterCategory].length > 0 &&
                                !(filterConditions[filterCategory].includes($(this).data(filterCategory)))) {
                                show = false
                            }
                        }
                        if (show) {
                            selectedTopicsNumber += 1;
                            $(this).removeClass('hidden');
                        } else {
                            $(this).addClass('hidden');
                        }
                    })

                    if (selectedTopicsNumber === 0) {
                        $('#no-results-message').removeClass('hidden');
                    } else {
                        $('#no-results-message').addClass('hidden');
                    }
                }

                // Filter by type
                $('.type_link').click(function () {
                    var type_id = $(this).data('id');
                    $(this).toggleClass('accent');
                    if ($(this).hasClass('accent')) { // select
                        filterConditions['typeId'].push(type_id);
                    } else { // deselect
                        filterConditions['typeId'] = $.grep(filterConditions['typeId'], function (n) {
                            return n !== type_id;
                        });
                    }
                    handleTopicFilter();
                });

                // Filter by supervisor
                $('.supervisor_link').click(function () {
                    let supervisor_id = $(this).data('id');
                    $(this).toggleClass('accent');
                    if ($(this).hasClass('accent')) { // select
                        filterConditions['supervisorId'].push(supervisor_id);
                    } else { // deselect
                        filterConditions['supervisorId'] = $.grep(filterConditions['supervisorId'], function (n) {
                            return n !== supervisor_id;
                        });

                    }
                    handleTopicFilter();
                });

                // Search function
                $('.topic_list').keyup(function () {
                    var search_query = $(this).val();
                    if ($.trim(search_query).length > 0) {
                        $.ajax({
                            url: '{{ url_for('topic_search') }}',
                            data: {'search_query': search_query},
                            type: 'GET',
                            success: function (response) {
                                let topic_ids = JSON.parse(response).topic_ids;
                                filterConditions["topicId"] = topic_ids;
                                handleTopicFilter();
                            }
                        });
                    } else {
                        filterConditions['topicId'] = [];
                        handleTopicFilter();
                    }
                });

                // Reset function
                $('#reset').click(function (e) {
                    e.preventDefault();
                    clearOtherFilters('');
                    $('#topic-section').children('a').removeClass('hidden');
                    $('#no-results-message').addClass('hidden');
                });
            });

            {% for topic in topics %}
                truncateText('.description-{{ topic.id }}', 500);
            {% endfor %}
        </script>
    </section>
    </body>
{% endblock %}