{% extends 'base.html' %}

{% block title %}{{ topic.name }}{% endblock %}

{% block content %}
    <body>
    <section class="page_hearder"><h1 class="first_title">{{ topic.name }}</h1></section>
    <section>
        <h1 class="third_title accent">Basic info</h1>
        <div id="w-node-dee0e41c-a026-7fcd-983f-4910eb77808f-12a95ea8"
             class="w-layout-layout course_list_item wf-layout-layout">
            <div class="w-layout-cell">
                <div class="text-block"><em>◇</em> Tutor</div>
            </div>
            <div class="w-layout-cell">
                <div class="text-block italic-text">{{ topic.get_supervisor_name() }}</div>
            </div>
        </div>
        <div id="w-node-_4b3765c4-aa80-156f-7bee-22f97672b60c-12a95ea8"
             class="w-layout-layout course_list_item wf-layout-layout">
            <div class="w-layout-cell">
                <div class="text-block"><em>◇</em> Type</div>
            </div>
            <div class="w-layout-cell">
                <div class="text-block italic-text">{{ topic.get_type_name() }}</div>
            </div>
        </div>
        <div id="w-node-d48b4f43-d5f3-7438-e3be-126c9accc039-12a95ea8"
             class="w-layout-layout course_list_item wf-layout-layout">
            <div class="w-layout-cell">
                <div class="text-block"><em>◇</em> Position</div>
            </div>
            <div class="w-layout-cell cell-5">
                <div class="text-block italic-text">{{ topic.quota }}</div>
                <div class="text-block italic-text accent _0head">({{ topic.get_selected_num() }} other candidates)
                </div>
            </div>
        </div>
        <div id="w-node-b809cfbf-c057-ac68-7c82-f2081e795906-12a95ea8"
             class="w-layout-layout course_list_item wf-layout-layout">
            <div class="w-layout-cell cell">
                <div class="text-block"><em>◇</em> Topic ID</div>
            </div>
            <div class="w-layout-cell">
                <div class="text-block italic-text">PK{{ "%04d"|format(topic.id) }}</div>
            </div>
        </div>

        <div class="_20px_height"></div>
        <h1 class="third_title accent">Topic Describe</h1>
        <div class="text-block back_space">{{ topic.description }}</div>

        <div class="_20px_height"></div>
        <h1 class="third_title accent">Required Skills</h1>
        <div class="text-block back_space">{{ topic.required_skills }}</div>

        <div class="_20px_height"></div>
        <h1 class="third_title accent">References</h1>
        <div class="text-block back_space">{{ topic.reference }}</div>

        <div class="_80px_header"></div>
        <a href="{{ url_for('my_pickr') }}" class="link link_accent">Apply Now<em>↗</em></a>
        <div class="_80px_header"></div>
    </section>
    </body>
{% endblock %}