{% macro report_table() %}
    <table style="width: 100%">
        <h1 style="text-align: center">Chengdu University of Technology Oxford Brookes College Project Module (CHC 6096)</h1>
        <h2 style="text-align: center; margin-bottom: 20px">Weekly Report Sheet - 2023/2024 Academic Year</h2>
            <tr>
                <td>STUDENT NAME:</td>
                <td>Crystal</td>
            </tr>
            <tr>
                <td>SUPERVISOR NAME:</td>
                <td>Clivia Li</td>
            </tr>
            <tr>
                <td>PROJECT NAME:</td>
                <td>Graduation Project Management System</td>
            </tr>
            <tr>
                <td>WEEK NUMBER:</td>
                <td>1</td>
            </tr>
            <tr>
                <td>DATE:</td>
                <td>2024/01/01 - 2024/01/07</td>
            </tr>
            <tr>
                <td>SUBMITED TIME:</td>
                <td>2024/01/01 12:00:00</td>
            </tr>
            <tr>
                <td colspan="2">
                    Action plan for the current week:
                    <textarea class="text-field text-area w-input" name="" id="" disabled>
1. Proident eiusmod est minim sunt. Eu amet consectetur nulla id duis incididunt dolore veniam. Consequat laboris aliquip tempor duis culpa ad labore qui minim reprehenderit sit enim consequat.
2. Amet deserunt nostrud excepteur occaecat officia nostrud Lorem non proident. Adipisicing amet non aliquip do aliquip nostrud minim laboris elit aliquip. Anim esse laboris pariatur excepteur.
3. Laboris voluptate et qui pariatur mollit nostrud id adipisicing labore. Quis incididunt tempor duis nostrud commodo. Labore in consequat reprehenderit dolor in voluptate.
                    </textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Challenges and issues encountered in the week:
                    <textarea class="text-field text-area w-input" name="" id=""  disabled>
1. Proident eiusmod est minim sunt. Eu amet consectetur nulla id duis incididunt dolore veniam. Consequat laboris aliquip tempor duis culpa ad labore qui minim reprehenderit sit enim consequat.
2. Amet deserunt nostrud excepteur occaecat officia nostrud Lorem non proident. Adipisicing amet non aliquip do aliquip nostrud minim laboris elit aliquip. Anim esse laboris pariatur excepteur.
3. Laboris voluptate et qui pariatur mollit nostrud id adipisicing labore. Quis incididunt tempor duis nostrud commodo. Labore in consequat reprehenderit dolor in voluptate.
                    </textarea>                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Action plan for the next week:
                    <textarea class="text-field text-area w-input" name="" id="" disabled>
1. Proident eiusmod est minim sunt. Eu amet consectetur nulla id duis incididunt dolore veniam. Consequat laboris aliquip tempor duis culpa ad labore qui minim reprehenderit sit enim consequat.
2. Amet deserunt nostrud excepteur occaecat officia nostrud Lorem non proident. Adipisicing amet non aliquip do aliquip nostrud minim laboris elit aliquip. Anim esse laboris pariatur excepteur.
3. Laboris voluptate et qui pariatur mollit nostrud id adipisicing labore. Quis incididunt tempor duis nostrud commodo. Labore in consequat reprehenderit dolor in voluptate.
                    </textarea>                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Supervisor Feedback:
                    <textarea class="text-field text-area w-input" name="" id="" disabled>
1. Proident eiusmod est minim sunt. Eu amet consectetur nulla id duis incididunt dolore veniam. Consequat laboris aliquip tempor duis culpa ad labore qui minim reprehenderit sit enim consequat.
2. Amet deserunt nostrud excepteur occaecat officia nostrud Lorem non proident. Adipisicing amet non aliquip do aliquip nostrud minim laboris elit aliquip. Anim esse laboris pariatur excepteur.
3. Laboris voluptate et qui pariatur mollit nostrud id adipisicing labore. Quis incididunt tempor duis nostrud commodo. Labore in consequat reprehenderit dolor in voluptate.
                    </textarea>                </td>
            </tr>
    </table>
    <div style="margin-top: 15px;">
        <a href="#" class="submit-button w-button">Export as PDF →</a>
        <span style="float: right">Last Update: 2024/01/01 23:00:00</span>
     </div>
{% endmacro %}